$('#total_wishlist_items_badge').html("<%= @current_wishlist.wishlist_line_items.count %>");
$('#total_wishlist_items_badge_header').html("<%= @current_wishlist.wishlist_line_items.count %>");
$("#wishlist_line_item-errors").html(" ");
$("#wishlist_line_item-success").html("<%= custom_flash_message%>");
$('.remove').removeClass("lnr lnr-heart ")
$('.add').addClass('fa fa-heart');
$('#heart-<%=@product.id%>').html(`
    <div class="HeartAnimation"></div>
  `);

$('.add').addClass('fa fa-heart');
  $('#heart-coupon-<%=@product.id%>').html(`
      <div class="HeartAnimation"></div>
  `);

$('.HeartAnimation').fadeOut(4000);
