<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@gallery, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0">Edit product</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=simple_form_for([:admin, @gallery], remote: true) do |f|%>
      <div class="modal-body overflow-auto">
        <div class="form-row">
          <div class="form-group col-md-12">
            <%=f.text_field :image, class: "form-control"%>
          </div>
          <div class="form-group col-md-12">
            <%=f.submit "Update", class: "btn btn-primary"%>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
<%end%>
