<tr class="delete_gallery_<%=gallery.id%>">
  <td id="data_<%=gallery.id%>">
    <%=gallery.id%>
  </td>
  <td>
    <%=time_ago(gallery.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, gallery], remote: true) do |f|%>
      <%=link_to admin_gallery_path(gallery), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_gallery_path(gallery),id: "link_#{gallery.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
