<%=simple_form_for([:admin, @gallery], remote: true) do |f|%>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%=f.text_field :image, class: "form-control"%>
    </div>
    <div class="col-md-12">
       <div class="form-group">
          <label class="cstm-switch">
          <%=f.check_box :status, class: "cstm-switch-input"%>
          <span class="cstm-switch-indicator "></span>
          <span class="cstm-switch-description"> Status </span>
          </label>
       </div>
    </div>
     <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
  </div>
<%end%>
