$('body').append('<%= j render partial: "admin/galleries/edit"%>');
$('#edit_<%= dom_id @gallery, :modal%>').modal('toggle');

$('tr').find('td:nth-child(1)').each(function(){
  if ($(this).text().trim() == "<%=@gallery.id%>") {
    $(this).parent().addClass("edit_row_<%=@gallery.id%>")
  }
});
