$("#gallery-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@gallery.id%>").find('td:nth-child(2)').text("<%=@gallery.id%>").next().text("<%=time_ago(@gallery.created_at)%>")
