<%title"About Us | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <!-- about us -->
    <section class="pt-100 pb-100">
      <div class="container">
        <h1 class="text-center" style="font-weight: bold">About Us</h1>
        <div class="about-us">
          <h3>WHAT WE ARE DOING</h3>
            <p>LOYOSJA.COM is not just about gifts, it’s about feeling and expressing yourself to the world.
            There's nothing better than a wide-eyed smile on the face of your loved ones when you give them unexpected small gifts out of the ordinary,
            something they feel connected to. And that's exactly what we are trying to accomplish. Leaving behind the tradition of conventional gifting,
            we decided to make it more than just another special occasion gift. We help you give your near and dear ones something that goes with their personality,
            looking at which they’d say ”Yes, that’s me!”. Hence, with our aim to get you the best presents from across the world, we at Loyosja.com have embarked on a journey to make gifting a much better experience.
            Thus, you'll never find an ordinary thing here. From products to packaging and customer service, every little thing has its personal touch. That's what makes Loyosja.com extraordinary and different from your average stores!  </p>
        </div>
        <div class="about-us">
          <h3>Our Mision</h3>
          <p>We aim to make a better gifting experience to everyone via absolutely awesome gifts and very convenient way of shopping.
              We believe that every day is an occasion to make your dear one smile. Be it creative birthday gifts for girlfriend, unique gifts for your family or funny gifts for your best friend, at Loyosja.com, one can find the most unusual and unique gifts for any occasion. We want to spread the love of gifting and not just make it a must-do or a gruelling process. We believe even if there is no occasion, or celebration, acknowledging the very person you are, a little happy gift for yourself would just be ideal.</p>
        </div>
        <div class="about-us">
          <h3>WHAT MAKES LOYOSJA.COM DIFFERENT FROM OTHERS?</h3>
          <p>We are on a mission to make uncommon and awesome gifts accessible to everyone sitting at home. With a few clicks over the internet, your experience will be right up at your door. But, we also realise how much every gift means to you. And that is why we make sure, that it is a memorable experience!</p>
                    <p>From the moment you decide to shop with us, we make sure that you get to know precisely what you are buying. Any query or confusion regarding the product is our utmost priority. We resort to get them cleared by providing you with real-time images and videos on your  Messenger or Telegram.</p>
                    <p>Every product bought from loyosja.com is a gift, for your friend, family or yourself! No matter the occasion, a little pampering will hurt no one. And so, we make sure that every gift we put on our shelf is a curated one. Be it a housewarming gift or a little birthday present, there is nothing but unique ideas waiting to be explored.</p>
        </div>
        <div class="about-us">
          <h3>GET IN TOUCH</h3>
              <p>And so, if you too wish to be a part of our beautiful journey and keep up with all the awesome stuff we're doing, connect with us on Facebook and Instagram. If you want to know anything else, contact us directly, even if it's just to say, "hello." Don't be a stranger!</p>
        </div>
      </div>
    </section>
  </main>

  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
