<%title"Cancellation & Refund Policy | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container pt-40 pt-10">
          <div class="container">
          <h1 class="text-center" style="font-weight: bold">Cancellation And Refund Policy</h1>
            <section class="section faq-area pb-60">
              <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h5 class="panel-title" style="font-weight: bold">
                      <a data-toggle="collapse" data-parent="#accordion" href="#faq_payment0">How do I cancel an order on bigsmall.in?</a>
                    </h5>
                  </div>
                  <div id="faq_payment0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p class='mb-30'>If unfortunately, you have to cancel an order, please do so within 24 hours of placing the order. Simply  go to our website and cancel the order or email us at loyosjagift@gmail.com (or call us directly at 0964718607) with product’s name and order time.</p>
                      <p>In case you would like to cancel the order after it is dispatched, you can simply refuse to accept the order and inform us of the same via email.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h5 class="panel-title" style="font-weight: bold">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#faq_payment1">Return Policy:</a>
                    </h5>
                  </div>
                  <div id="faq_payment1" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p class='mb-30'>Products are eligible for return if they are received in a damaged or defective condition. The same needs to be conveyed to our team within 7 working days of receiving the package. We ensure that a brand new replacement is shipped to you at no additional cost.</p>
                      <p>If you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before you open the packet, please refuse to accept the package and return the package to the delivery person.</p>
                      <p>In rare cases where the quality or size of the product is an issue, we would require you to ship the product back to us in a safe condition within 7 working days from the day of delivery. Once we receive the product back in our office, we would issue store credits for the same value of the product. Please note that this case is only applicable in case the product is unused.</p>
                      <p>Certain products (socks, hoodie, etc.) where personal hygiene is a part of the product use case are not applicable for return.</p>
                      <p>Our team takes the utmost care with respect to the quality of each product and tries to ensure that the item reaches you safely. However, we understand that sometimes fragile items are damaged during transit. In such cases, reach out to us within 7 working days from the date of delivery.</p>
                      <p><i class="icon lnr lnr-phone" style="color: #e67e22"></i>&nbsp; 0964718607 (10 AM - 6 PM)<br/>
                         <i class="icon lnr lnr-envelope" style="color: #e67e22"></i>&nbsp; loyosjagift@gmail.com</p>
                      <p>In case of any queries regarding the product you wish to order, feel free to reach to us and we would be happy to share real-time product photos and videos via Facebook/Instagram/email/other channels.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h5 class="panel-title" style="font-weight: bold">
                      <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#faq_payment2">Refund Policy:</a>
                    </h5>
                  </div>
                  <div id="faq_payment2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p class="mb-30">The refund policy is applicable in case the replacement of a damaged product is not available. In case of online paid orders, the refund will be made back to the same bank account used to pay for the order. In case of COD orders, customers' bank account details would be required and the refund would be credited within 7-10 working days from the date of cancellation of the order. Alternatively, refunds can also be done via Person to Person.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
      <%=render "front-end/footer-area"%>

    </div>

    <div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
