<%title"Contact Us | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <!-- Page Container -->
    <div class="page-container ptb-60">
      <div class="container">

        <!-- Contact Us Area -->
        <div class="contact-area contact-area-v1 panel">
          <div class="row row-tb-20">
            <div class="col-xs-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="google-map-iframe embed-responsive-item" src="http://maps.google.com/maps?q=56.7638955,-120.0681474&amp;z=4&amp;output=embed"></iframe>
              </div>
            </div>
          </div>
          <div class="ptb-30 prl-30">
            <div class="row row-tb-20">
              <div class="col-xs-12 col-md-6">
                <div class="contact-area-col contact-info">
                  <div class="contact-info">
                    <h3 class="t-uppercase h-title mb-20">Contact Informations</h3>
                    <p>An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special.</p>
                    <ul class="contact-list mb-40">
                      <li>
                        <span class="icon lnr lnr-map-marker"></span>
                        <h5>Address</h5>
                        <p class="color-mid">Sangkat Tuek L'ak II, Khan Toul Kork, Phnom Penh, Cambodia</p>
                      </li>
                      <li>
                        <span class="icon lnr lnr-envelope"></span>
                        <h5>Email</h5>
                        <p class="color-mid">loyosjagift@gmail.com</p>
                      </li>
                      <li>
                        <span class="icon lnr lnr-phone-handset"></span>
                        <h5>Our phone</h5>
                        <p class="color-mid">(+855) 96-471-8607</p>
                      </li>
                    </ul>
                    <ul class="social-icons social-icons--colored list-inline">
                      <li class="social-icons__item">
                        <a href="https://www.facebook.com/loyosjagift" target="_blank">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="social-icons__item">
                        <a href="#">
                          <i class="fa fa-telegram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="contact-area-col contact-form">
                  <h3 class="t-uppercase h-title mb-20">Get in touch</h3>
                  <form action="#" method="post">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                      <label>Email Address</label>
                      <input type="text" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                      <label>Website</label>
                      <input type="text" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                      <label>Message</label>
                      <textarea rows="5" class="form-control" required="required"></textarea>
                    </div>
                    <button class="btn">Send Message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Contact Us Area -->

      </div>
    </div>
    <!-- End Page Container -->
  </main>
  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
