<%title"Delivery Policy | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER                                   -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
  <section class="pt-100 pb-100">
    <div class="container">
      <h1 class="text-center" style="font-weight: bold">Delivery Policy</h1>
      <div class="delivery">
        <h3 style="font-weight: bold">General Information</h3>
        <p class ="mb-4">We offer free delivery service for anywhere in Phnom Penh and all orders are subject to product availability, if an item is not in stock at the time you place your order, we will notify you and refund you the total amount of your order.</p>
      </div>
      <div class="delivery">
        <h3 style="font-weight: bold">Delivery Location</h3>
        <p class ="mb-4">Items offered on our website are only available for delivery in Phnom Penh. Any deliveries outside of Phnom Penh are not available at this time.</p>
      </div>
      <div class="delivery">
        <h3 style="font-weight: bold">Delivery Time</h3>
        <p class ="mb-4">An estimated delivery time will be provided to you once your order is placed. Delivery times are generally estimated to be within 24 hours of your order. Delivery times are to be used as a guide only and are subject to the acceptance and approval of your order.
        Unless there are exceptional circumstances, we make every effort to fulfill your order within 7 business days of the date of your order. Business day mean Monday to Sunday, except holidays.</p>
      </div>
    </div>
  </section>
  </main>
  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
