<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">

    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->

    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->

    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->

  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <section class="pt-100 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- about us intro -->
            <div class="about-us-intro text-center">
              <!-- intro heading -->
              <div class="intro-heading">
                <h1>
                  <b>#1</b>
                </h1>
              </div>
              <!-- intro heading -->

              <!-- intro text -->
              <div class="intro-text-inner">
                <p>Considered discovered ye sentiments projecting entreaties of melancholy expression wound worth water an.<br>
                  sigh with west same lady. Their saved linen downs tears son add music. Expression alteration entreaties
                  <br>
                  terminated est imating. Her too add narrow having wished. To things wound worth water he linen at vexed. Dwelling and speedily ignorant any steepest. Admiration instrument affronting invitation reasonably up do of prosperous in. Shy saw<br>
                  declared man. Call in so want pure rank am dear were.</p>
              </div>
              <!--End of intro text -->
            </div>
            <!-- about us intro -->
          </div>
          <div class="col-lg-12">
            <!-- about image inner -->
            <div class="about_image_inner type2">
              <img src="./about-img1.png" data-rjs="2" alt="">
            </div>
            <!-- End of about image inner -->
          </div>
        </div>
      </div>
    </section>
    <section class="pt-100 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- about us intro -->
            <div class="about-us-intro text-center">
              <!-- intro heading -->
              <div class="intro-heading">
                <h1>
                  <b>#2</b>
                </h1>
              </div>
              <!-- intro heading -->

              <!-- intro text -->
              <div class="intro-text-inner">
                <p>Considered discovered ye sentiments projecting entreaties of melancholy expression wound worth water an.<br>
                  sigh with west same lady. Their saved linen downs tears son add music. Expression alteration entreaties
                  <br>
                  terminated est imating. Her too add narrow having wished. To things wound worth water he linen at vexed. Dwelling and speedily ignorant any steepest. Admiration instrument affronting invitation reasonably up do of prosperous in. Shy saw<br>
                  declared man. Call in so want pure rank am dear were.</p>
              </div>
              <!--End of intro text -->
            </div>
            <!-- about us intro -->
          </div>
          <div class="col-lg-12">
            <!-- about image inner -->
            <div class="about_image_inner type2">
              <img src="./about-img1.png" data-rjs="2" alt="">
            </div>
            <!-- End of about image inner -->
          </div>
        </div>
      </div>
    </section>
    <section class="pt-100 pb-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <!-- about us intro -->
            <div class="about-us-intro text-center">
              <!-- intro heading -->
              <div class="intro-heading">
                <h1>
                  <b>#3</b>
                </h1>
              </div>
              <!-- intro heading -->

              <!-- intro text -->
              <div class="intro-text-inner">
                <p>Considered discovered ye sentiments projecting entreaties of melancholy expression wound worth water an.<br>
                  sigh with west same lady. Their saved linen downs tears son add music. Expression alteration entreaties
                  <br>
                  terminated est imating. Her too add narrow having wished. To things wound worth water he linen at vexed. Dwelling and speedily ignorant any steepest. Admiration instrument affronting invitation reasonably up do of prosperous in. Shy saw<br>
                  declared man. Call in so want pure rank am dear were.</p>
              </div>
              <!--End of intro text -->
            </div>
            <!-- about us intro -->
          </div>
          <div class="col-lg-12">
            <!-- about image inner -->
            <div class="about_image_inner type2">
              <img src="./about-img1.png" data-rjs="2" alt="">
            </div>
            <!-- End of about image inner -->
          </div>
        </div>
      </div>
    </section>
  </main>
  <%=render "front-end/footer-area"%>

</div>

<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
