<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-5 bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                    <div class="p-b-20 text-center">
                       <a href="/">
                          <p style="padding-top: 20px">
                             <img src="/images/loyosja.png" width="200" alt="">
                          </p>
                       </a>
                    </div>
                     <h3 class="text-center p-b-20 fw-400">Edit Your Information Here</h3>
                     <div class="needs-validation">
                       <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:class=>"login-form cf-style-1") do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-group col-md-12">
                          <label>Username</label>
                          <%=f.text_field :username, autofocus: true, class: "form-control", :placeholder=>"Username"%>
                        </div>


                        <div class="form-group col-md-12">
                          <label>Email</label>
                          <%=f.text_field :email, autofocus: true, class: "form-control", :placeholder=>"Email"%>
                        </div>

                        <div class="form-group col-md-12">
                          <label>Current Password</label>
                          <%= f.password_field :current_password, autocomplete: "off" ,:class=>"form-control", :placeholder=>"Current Password"%>
                        </div>
                        <div class="form-group col-md-12">
                          <p id="btn-revealed" class="btn btn-default">Edit Password</p>
                        </div>

                        <div class="hide" id="revealed-panel">

                          <div class="form-group  col-md-12">
                             <label>Password</label>
                             <%= f.password_field :password, autocomplete: "off",:class=>"form-control", :placeholder=>"New Password"%>
                          </div>

                          <div class="form-group col-md-12">
                             <label>Confirmation Password</label>
                             <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder=>"Confirmation Password"%>
                          </div>

                          <div class="form-group col-md-12">
                             <label>Upload Profile Picture</label>
                             <%= f.file_field :avata, autocomplete: "off",:class=>"form-control"%>
                          </div>
                        </div>

                        <div class="form-group floating-label col-md-12">
                           <button type="submit" class="btn btn-primary btn-block btn-lg" style="background-color:#e67e22; border-color:#e67e22">Update</button>
                        </div>
                        <%end%>
                     </div>
                     <p class="text-right p-t-10">
                        <%=link_to "Already have an account", sign_in_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-7 d-none d-md-block bg-cover" style="background-image: url('/images/104.png');">
            </div>
         </div>
      </div>
   </main>
</div>
