$("input#product_type_type_name").val("");
$(".disabled").attr("disabled", false)
$("#product_type-errors").html(" ");
$("#product_type-success").html("<%= custom_flash_message%>");
$("#product_type-index").append("<%=escape_javascript render(@product_type)%>");

$(function() {
  $('.delete_product_type_<%=@product_type.id%>').submitOnCheck();
});

$('.delete_product_type_<%=@product_type.id%>').submitOnCheck();
