$("#product_type-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@product_type.id%>").find('td:nth-child(2)').text("<%=@product_type.type_name%>").next().text("<%=time_ago(@product_type.created_at)%>")
