<!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="nav-wrap">
    <div class="mobile-only-brand pull-left">
      <div class="nav-header pull-left">
        <div class="logo-wrap">
          <a href="index-2.html">

          </a>
        </div>
      </div>
      <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
      <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
      <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>
      <form id="search_form" role="search" class="top-nav-search collapse pull-left">
        <div class="input-group">
          <input type="text" name="example-input1-group2" class="form-control" placeholder="Search">
          <span class="input-group-btn">
          <button type="button" class="btn  btn-default"  data-target="#search_form" data-toggle="collapse" aria-label="Close" aria-expanded="true"><i class="zmdi zmdi-search"></i></button>
          </span>
        </div>
      </form>
    </div>
    <div id="mobile_only_nav" class="mobile-only-nav pull-right">
      <ul class="nav navbar-right top-nav pull-right">
        <li class="dropdown alert-drp">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="ti-bell top-nav-icon"></i>
              <span id="orders">
                <%= render partial: 'orders'%>
              </span>
          </a>
          <ul class="dropdown-menu alert-dropdown" data-dropdown-in="bounceIn" data-dropdown-out="bounceOut">
            <li>
              <div class="notification-box-head-wrap">
                <span class="notification-box-head pull-left inline-block">notifications</span>
                <a class="txt-danger pull-right clear-notifications inline-block" href="javascript:void(0)"> clear all </a>
                <div class="clearfix"></div>
                <hr class="light-grey-hr ma-0" />
              </div>
            </li>
            <li>
              <div class="streamline message-nicescroll-bar" id="lists_order">
                <%if @orders.any?%>
                  <%= render @orders%>
                <%end%>
              </div>
            </li>
            <li>
              <div class="notification-box-bottom-wrap">
                <hr class="light-grey-hr ma-0" />
                <a class="block text-center read-all" href="javascript:void(0)"> read all </a>
                <div class="clearfix"></div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown auth-drp">
          <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
            <%if current_admin.photo.present?%>
              <img src="<%=current_admin.photo%>" alt="user_auth" class="user-auth-img img-circle"/>
              <span class="user-online-status"></span>
            <%else%>
              <img src="https://hencework.com/theme/admintres/img/user1.png" alt="user_auth" class="user-auth-img img-circle"/>
              <span class="user-online-status"></span>
            <%end%>
          </a>
          <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
            <li>
              <a href="profile.html"><i class="zmdi zmdi-account"></i><span>Profile</span></a>
            </li>
            <li>
              <a href="#"><i class="zmdi zmdi-card"></i><span>my balance</span></a>
            </li>
            <li>
              <a href="inbox.html"><i class="zmdi zmdi-email"></i><span>Inbox</span></a>
            </li>
            <li>
              <a href="#"><i class="zmdi zmdi-settings"></i><span>Settings</span></a>
            </li>

            <li class="divider"></li>
            <li>
              <%=link_to destroy_admin_session_path, method: :delete do%>
                <i class="zmdi zmdi-power"></i><span>Log Out</span>
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <hr/>
    </li>
      <li>
        <%=link_to admin_dashboard_path do%>
        <div class="pull-left"><i class="ti-dashboard mr-20"></i><span class="right-nav-text">Dashboard</span></div>
        <div class="clearfix"></div>
        <%end%>
      </li>
      <li>
        <%=link_to admin_admins_path do%>
          <div class="pull-left"><i class="ti-user mr-20"></i><span class="right-nav-text">Admins</span></div>
          <div class="pull-right"><i class="ti-angle-down"></i></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
      <li>
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr">
          <div class="pull-left"><i class="ti-shopping-cart  mr-20"></i><span class="right-nav-text">Inventory</span></div>
          <div class="pull-right"><i class="ti-angle-down"></i></div>
          <div class="clearfix"></div>
        </a>
        <ul id="ecom_dr" class="collapse collapse-level-1">
          <li>
            <%=link_to "Category", admin_categories_path%>
          </li>
          <li>
            <%=link_to "Sub Category", admin_sub_categories_path%>
          </li>
          <li>
            <%=link_to "Product Type", admin_product_types_path%>
          </li>
          <li>
            <%=link_to "Gallery", admin_galleries_path%>
          </li>
          <li>
            <%=link_to "Products", admin_products_path%>
          </li>
        </ul>
      </li>
      <li>
        <%=link_to admin_orders_path do%>
          <div class="pull-left"><i class="ti-image mr-20"></i><span class="right-nav-text">Orders</span></div>
          <div class="pull-right"><i class="ti-angle-down"></i></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
      <li>
        <%=link_to admin_line_items_path do%>
          <div class="pull-left"><i class="ti-image mr-20"></i><span class="right-nav-text">Order Details </span></div>
          <div class="pull-right"><i class="ti-angle-down"></i></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
      <li>
        <%=link_to admin_users_path do%>
          <div class="pull-left"><i class="ti-user mr-20"></i><span class="right-nav-text">Customers</span></div>
          <div class="pull-right"><i class="ti-angle-down"></i></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
  </ul>
</div>
<!-- /Left Sidebar Menu -->
