<!-- Right Setting Menu -->
<div class="setting-panel">
  <ul class="right-sidebar nicescroll-bar pa-0">
    <li class="layout-switcher-wrap">
      <ul>
        <li>
          <span class="layout-title">Scrollable header</span>
          <span class="layout-switcher">
              <input type="checkbox" id="switch_3" class="js-switch"  data-color="ff6028" data-secondary-color="#dedede" data-size="small"/>
            </span>
          <h6 class="mt-30 mb-15">Sidebar colors</h6>
          <ul class="theme-option-wrap">
            <li id="theme-1"><i class="zmdi zmdi-check"></i></li>
            <li id="theme-2" class="active-theme"><i class="zmdi zmdi-check"></i></li>
          </ul>
          <h6 class="mt-30 mb-15">Topbar colors</h6>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-blue" value="navbar-top-blue">
            <label class="capitalize-font" for="navbar-top-blue"> blue </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-skyblue" value="navbar-top-skyblue">
            <label class="capitalize-font" for="navbar-top-skyblue"> skyblue </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-navyblue" checked value="navbar-top-navyblue">
            <label class="capitalize-font" for="navbar-top-navyblue"> navyblue </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-purple" value="navbar-top-purple">
            <label class="capitalize-font" for="navbar-top-purple"> purple </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-pink" value="navbar-top-pink">
            <label class="capitalize-font" for="navbar-top-pink"> pink </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-red" value="navbar-top-red">
            <label class="capitalize-font" for="navbar-top-red"> red </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-yellow" value="navbar-top-yellow">
            <label class="capitalize-font" for="navbar-top-yellow"> yellow </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-green" value="navbar-top-green">
            <label class="capitalize-font" for="navbar-top-green"> green </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-teal" value="navbar-top-teal">
            <label class="capitalize-font" for="navbar-top-teal"> teal </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-violet" value="navbar-top-violet">
            <label class="capitalize-font" for="navbar-top-violet"> violet </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-chrome" value="navbar-top-chrome">
            <label class="capitalize-font" for="navbar-top-chrome"> chrome </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-orange" value="navbar-top-orange">
            <label class="capitalize-font" for="navbar-top-orange"> orange </label>
          </div>
          <div class="radio mb-5">
            <input type="radio" name="radio-topbar-color" id="navbar-top-dark" value="navbar-top-dark">
            <label class="capitalize-font" for="navbar-top-dark"> dark </label>
          </div>
          <div class="radio mb-35">
            <input type="radio" name="radio-topbar-color" id="navbar-top-light" value="navbar-top-light">
            <label class="capitalize-font" for="navbar-top-light"> light </label>
          </div>
          <button id="reset_setting" class="btn  btn-warning btn-xs btn-outline btn-rounded mb-10">reset</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
<button id="setting_panel_btn" class="btn btn-warning btn-circle setting-panel-btn shadow-2dp"><i class="zmdi zmdi-settings"></i></button>
<!-- /Right Setting Menu -->
