<%title"#{@type.type_name} | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">
    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->
    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->
    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->
  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container">
      <div class="container">
        <section class="section latest-deals-area ptb-30">
          <header class="panel ptb-15 prl-20 pos-r mb-30">
            <h3 class="section-title font-18 t-uppercase" style="text-align: center;">
              <b class="line-bottom"><%=params[:id].tr('-', ' ').capitalize %></b>
            </h3>
          </header>
          <div class="row row-masnory row-tb-20">
            <%@products_sub.each do |product|%>
            <div class="col-xs-6 col-sm-4 col-lg-3" >
              <div class="deal-single">
                <%product.assets.limit(1).order(id: :asc).each do |asset|%>
                <%=link_to new_product_review_path(product.slug) do%>
                <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" style="padding-bottom: 95.25%;">
                  <img src="<%=asset.image%>">
                </figure>
                <%end%>
                <%end%>
                <div class="bg-white pt-20">
                  <div class="pr-md-10">
                    <h3 class="deal-title mb-10 text-center"style="font-size:15px; font-weight:bold;" title="<%=product.product_name%>">
                      <%=link_to first_cap_letter(product.product_name).truncate(20), new_product_review_path(product.slug)%>
                    </h3>
                  </div>
                  <div class="deal-price pos-r mb-15">
                    <h3 class="price ptb-5 text-center">
                      <ul class="deal-meta list-inline mb-10 color-mid text-center"style="font-size:14px;">
                        <span id="heart-<%=product.id%>"></span>
                        <%=number_to_currency(product.product_price)%>
                        <%if user_signed_in?%>
                        <li>
                          <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
                          <i class="ico fa fa-heart" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <li>
                          <%=link_to product, remote: true do %>
                          <i class="fa fa-camera" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <%else%>
                        <li>
                          <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
                          <i class="ico fa fa-heart" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <li>
                          <%=link_to product, remote: true do %>
                          <i class="fa fa-camera" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <%end%>
                      </ul>
                    </h3>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <%end%>
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-12">
              <div class="load-more-container">
                <%= paginate @products_sub, window: 2 %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
