<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@order, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0" id="edit_user">Edit Order</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <%=simple_form_for([:admin, @order], remote: true) do |f|%>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>First Name</label>
              <%=f.text_field :first_name, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Last Name</label>
              <%=f.text_field :last_name, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Phone Number</label>
              <%=f.text_field :phone_num, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Description</label>
              <%=f.text_area :description, class: "form-control", rows:"10"%>
            </div>
            <div class="form-group col-md-12">
              <label>Discount</label>
              <%=f.text_field :discount, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label>Delivery Fee</label>
              <%=f.text_field :delivery_fee, class: "form-control"%>
            </div>
            <div class="form-group col-md-12">
              <label class="cstm-switch">
                <%=f.check_box :status, class: "cstm-switch-input"%>
                <span class="cstm-switch-indicator "></span>
              </label>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <%=f.submit "Update", class: "btn btn-primary", id: "order_submit"%>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
