<div class="card m-b-30 m-t-30">
  <div class="card-header">
    <div class="card-title">
      <h3>Reports</h3>
    </div>
  </div>
  <div class="card-body">

    <p class="text-muted ">Search By Date</p>

    <ul class="list-group">
      <%=search_form_for([:admin, @search_order], method: :get, remote: true) do |f|%>
        <div class="row">
          <div class="col-lg-6">
            <label for="">From</label>
            <%=f.text_field :sold_date_gteq, class: "form-control", id: "start_date" , placeholder: "Start Date"%>
          </div>
          <div class="col-lg-6">
            <label for="">To</label>
            <%=f.text_field :sold_date_lteq, class: "form-control", id: "end_date" , placeholder: "End Date"%>
          </div>
        </div>
        <div class="p-b-20">
          <hr>
          <%=f.submit "Search", class: "btn btn-primary btn-block"%>
          <%=link_to "Reset", admin_orders_path, class: "btn btn-warning btn-block", remote: true%>
        </div>
      <%end%>
    </ul>

  </div>
</div>
