$('body').append('<%= j render partial: "admin/orders/edit"%>');
$('#edit_<%= dom_id @order, :modal%>').modal('toggle');
$('tr').find('td:nth-child(3)').each(function(){
  if ($(this).text().trim().replace(/ +/g, "") == "<%=status_converter(@order.status).gsub(/\s+/, '')%>") {
    $(this).parent().addClass("edit_row_<%=@order.id%>")
  }
});
