<div id="handle_update_status-success"></div>
<div id="order-success"></div>
<%=render "admin/shared/aside"%>
<main class="admin-main">
   <!--site header begins-->
   <%=render "admin/shared/header"%>
   <!--site header ends -->
   <section class="admin-content">
      <div class="container-fluid">
      <!-- Content -->
      <div class="row">
         <div class="col-md-8">
            <div class="card m-b-30 m-t-30">
               <div class="card-header">
                  <h5 class="m-b-0">
                     <i class="mdi mdi-checkbox-intermediate"></i> Orders
                  </h5>
                  <h5 class="m-b-0 float-right">
                    <p>Total Amount: <%=total_order(@orders)%></p>
                    <p>Profit From (10-22-2019): <%=number_to_currency(@orders.sum('profit'))%></p>
                  </h5>
               </div>
               <div class="card-body">
                  <div class="table-responsive">
                     <table id="" class="table table-hover align-td-middle">
                        <thead>
                           <tr>
                              <th>#</th>
                              <th>Sub Total</th>
                              <th>Total</th>
                              <th>Profit</th>
                              <th>Status</th>
                              <th>Sold Date</th>
                              <th>Updated_At</th>
                              <th class="text-center">Action</th>
                           </tr>
                        </thead>
                        <tbody id="orders">
                         <%= render @orders%>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-lg-12">
                <nav>
                  <%= paginate @orders, window: 2 %>
                </nav>
              </div>
            </div>
            <%= link_to "Get All Orders Report", admin_get_all_orders_report_path(format: "xlsx"), class: "btn btn-primary m-b-30" %>
            <%= link_to "7 days ago", admin_seven_days_ago_report_path(format: "xlsx"), class: "btn btn-primary m-b-30"%>
         </div>
         <div class="col-md-4">
           <%=render "filter_order"%>
         </div>
      </div>
      <!-- Modal -->
   </section>
</main>
