<%title"Cart | loyosja.com"%>
  <%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
    <div id="out_of_stock_error" style="display: none;"></div>
    <div id="remove-success"></div>
    <div id="added-to-cart" style="display: none;"></div>
    <div id="line_item-errors" style="display: none;"></div>
    <!-- Preloader -->
    <div id="preloader" class="preloader">
      <div class="loader-cube">
        <div class="loader-cube__item1 loader-cube__item"></div>
        <div class="loader-cube__item2 loader-cube__item"></div>
        <div class="loader-cube__item4 loader-cube__item"></div>
        <div class="loader-cube__item3 loader-cube__item"></div>
      </div>
    </div>
    <!-- End Preloader -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- WRAPPER -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <div id="pageWrapper" class="page-wrapper">
      <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
      <header id="mainHeader" class="main-header">
        <!-- Top Bar -->
        <%=render "front-end/topbar"%>
        <!-- End Top Bar -->
        <!-- Header Header -->
        <%=render "front-end/header"%>
        <!-- End Header Header -->
        <!-- Header Menu -->
        <%=render "front-end/header-menu"%>
        <!-- End Header Menu -->
      </header>
      <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
      <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
      <main id="mainContent" class="main-content">
        <div class="page-container" style="margin-top: 35px;">
          <div class="container">
            <div class="cart-area ">
              <div class="container">
                <div class="cart-wrapper">
                  <h3 class="h-title mb-30 t-uppercase">My Cart</h3>
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-8 table-responsive">
                        <table id="cart_list" class="cart-list mb-30 ">
                          <thead class="panel t-uppercase">
                            <tr>
                              <th style="font-size: 14px;">Product name</th>
                              <th style="font-size: 14px;">Unit price</th>
                              <th style="font-size: 14px;">Quantity</th>
                              <th style="font-size: 14px;text-align: right;">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <%@items.each do |line_item|%>
                              <tr class="panel alert reduce_qty_<%=line_item.id%>" id="delete_cart_<%=line_item.id%>">
                                <td>
                                  <div class="media-left">
                                    <figure class="product-thumb">
                                      <%line_item.product.assets.limit(1).each do |asset|%>
                                        <img src="<%=asset.image%>" alt="product">
                                      <%end%>
                                    </figure>
                                  </div>
                                </div>
                              </td>
                              <td><%=number_to_currency(line_item.product.product_price)%></td>
                              <td>
                                <%=form_tag line_items_path, remote: true do%>
                                <%=hidden_field_tag :product_id, line_item.product.id%>
                                <div class="form-group">
                                  <%=number_field_tag :quantity, line_item.quantity, class: "form-control"%>
                                </div>
                                <button type="submit" name="button" class="btn btn-default update-qty">
                                  <span>Update</span>
                                </button>
                              <%end%>
                            </td>
                            <td class="col-sm-1" style="text-align: right;">
                              <%=form_for line_item, method: :delete, remote: true do |f|%>
                              <button type="submit" title="Remove product" class="btn-remove">
                                <i class="fa fa-trash"></i>
                              </button>
                            <%end%>
                          </td>
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                  <div class="t-left" style="padding-bottom: 20px;">
                    <%=link_to "Continue Shopping", products_path, class: "btn btn-rounded btn-lg"%>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="review-wrapper clearfix">
                    <div class="cart-price">
                      <h5 class="t-uppercase mb-20" style="font-weight: bold;">Cart total</h5>
                      <ul class="panel mb-20">
                        <li>
                          <div class="item-name">
                            Subtotal
                          </div>
                          <div class="price" id="sub_total">
                            <%=number_to_currency(current_cart.order.sub_total)%>
                          </div>
                        </li>
                        <li>
                          <div class="item-name">
                            Delivery Fee
                          </div>
                          <div class="price">
                            $00.00
                          </div>
                        </li>
                        <li>
                          <div class="item-name">
                            <strong class="t-uppercase">Order total</strong>
                          </div>
                          <div class="price" id="sub_total_order">
                            <span><%=number_to_currency(current_cart.order.sub_total)%></span>
                          </div>
                        </li>
                        <li>
                          <h6 class="t-uppercase mb-20" style="font-size: 12px;">
                            <b>Payment: Cash On Delivery</b>
                          </h6>
                        </li>
                      </ul>
                      <div class="t-right">
                        <%= button_to "Checkout", new_order_path , method: :get,class: "btn btn-rounded btn-lg"%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
<div id="minus_one" style="display: none;"></div>
