<%=content_tag :div, class: "modal fade bd-example-modal-lg", id: "detail_#{dom_id(@sub_category, :modal)}" do%>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Large Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>I'm large modal</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Aspernatur, assumenda aut eaque eius error, eum expedita iusto nobis
          obcaecati, perspiciatis quae quos saepe similique! Iure non
          perspiciatis qui veniam vitae!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
<%end%>
