<%=simple_form_for([:admin, @sub_category], remote: true) do |f|%>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Sub Category</label>
      <%=f.text_field :sub_category_name, class: "form-control"%>
    </div>

    <div class="form-group col-md-12">
      <%=f.submit "Save User", class: "btn btn-primary"%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
<%end%>
