<tr class="delete_sub_category_<%=sub_category.id%>">
  <td id="data_<%=sub_category.id%>">
    <%=sub_category.id%>
  </td>
  <td>
    <%=sub_category.sub_category_name%>
  </td>
  <td>
    <%=time_ago(sub_category.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, sub_category], remote: true) do |f|%>
      <%=link_to admin_sub_category_path(sub_category), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_sub_category_path(sub_category.id),id: "link_#{sub_category.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
