$("input#sub_category_sub_category_name").val("");
$(".disabled").attr("disabled", false)
$("#sub_category-errors").html(" ");
$("#sub_category-success").html("<%= custom_flash_message%>");
$("#sub_category-index").append("<%=escape_javascript render(@sub_category)%>");

$(function() {
  $('.delete_sub_category_<%=@sub_category.id%>').submitOnCheck();
});

$('.delete_sub_category_<%=@sub_category.id%>').submitOnCheck();
