$('body').append('<%= j render partial: "admin/sub_categories/edit"%>');
$('#edit_<%= dom_id @sub_category, :modal%>').modal('toggle');
$("#edit_sub_category").text("Edit sub_category");

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@sub_category.sub_category_name%>") {
    $(this).parent().addClass("edit_row_<%=@sub_category.id%>")
  }
});
