$("#sub_category-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@sub_category.id%>").find('td:nth-child(2)').text("<%=@sub_category.sub_category_name%>").next().text("<%=time_ago(@sub_category.created_at)%>")
