<div class="section deals-header-area">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="header-deals-slider owl-slider" data-loop="true" data-autoplay="true" data-autoplay-timeout="10000" data-smart-speed="1000" data-nav-speed="false" data-nav="true" data-xxs-items="1" data-xxs-nav="true" data-xs-items="1"
        data-xs-nav="true" data-sm-items="1" data-sm-nav="true" data-md-items="1" data-md-nav="true" data-lg-items="1" data-lg-nav="true">

        <%@galleries.each do |gallery|%>
          <%if gallery.status==true %>
          <div class="deal-single item ">
            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="<%=gallery.image%>"></figure>
          </div>
          <%end%>
        <%end%>

      </div>
    </div>
  </div>
</div>
