<div class="section explain-process-area">
  <div class="row">
    <div class=" col-sm-4 col-md-4 ">
      <div class="item panel">
        <div class="row">
          <div class="col-xs-12">
            <img src="images/101.png" alt="" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="item panel">
        <div class="row">
          <div class="col-xs-12">
            <img src="images/102.png" alt="" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="item panel">
        <div class="row">
          <div class="col-xs-12">
            <img src="images/103.png" alt="" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="item panel">
        <div class="row">
          <div class="col-xs-12" style="padding-right: 0px;">
            <div class="image-with-caption">
              <img src="images/forboy.png" alt=""/>
              <div class="caption">
                <%=link_to "Gift For Guys", "/types/gifts-for-guys", class: "btn btn-hover btn-white"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="item panel">
        <div class="row">
          <div class="col-xs-12" style="padding-right: 0px;">
            <div class="image-with-caption">
              <img src="images/forgirl.png" alt=""/>
              <div class="caption">
                <%=link_to "Gift For Girls", "/types/gifts-for-girls", class: "btn btn-hover btn-white"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
