

<section class="footer-top-area pt-70 pb-30 pos-r bg-blue">
  <div class="container">
    <div class="row row-tb-20">
      <div class="col-sm-12 col-md-7">
        <div class="row row-tb-20">
          <div class="footer-col col-sm-6">
            <div class="footer-about">
              <a href="/" class="logo-footer">
              <%= image_tag "/images/footerlogo.png", style: "margin-bottom: 3rem", height:"180", width: "180" %>
              </a>
              <p class="color-light">An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special.</p>
            </div>
          </div>
          <div class="footer-col col-sm-6">
            <div class="footer-top-twitter">
              <h2 class="color-lighter">Contact Us</h2>
              <ul class="twitter-list">
                <li class="single-twitter">
                  <p class="color-light">
                    <i class="ico fa fa-phone"></i>
                    <a href="#">Phone :</a>
                    0964718607
                  </p>
                </li>
                <li class="single-twitter">
                  <p class="color-light">
                    <i class="ico fa fa-envelope-o"></i>
                    <a href="#">E-mail :</a>
                    loyosjagift@gmail.com
                  </p>
                </li>
                <li class="single-twitter">
                  <p class="color-light">
                    <i class="ico fa fa-map-marker"></i>
                    <a href="#">Address :</a>
                    Sangkat Tuek L'ak II, Khan Toul Kork, Phnom Penh, Cambodia
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="row row-tb-20">
          <div class="footer-col col-sm-4">
            <div class="footer-links">
              <h2 class="color-lighter">Quick Links</h2>
              <ul>
                <li>
                  <%=link_to "About Us", abouts_path%>
                </li>
                <li>
                  <%=link_to "Delivery", deliveries_path%>
                </li>
                <li>
                  <%=link_to "Cancellation", cancellation_path%>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-col col-sm-8" style="padding-top:0px !important; padding-right:2px !important;padding-left:2px !important;">
            <div class="newsletter-form section subscribe-area t-center">
              <h4 class="mb-20 color-lighter"><i class="fa fa-envelope-o color-green mr-10"></i>Sign Up For Our Email Newsletter</h4>
              <form method="post" action="#">
                <div class="input-group mb-10">
                  <input type="email" class="form-control bg-white" placeholder="Email Address" required="required">
                  <span class="input-group-btn">
                  <button class="btn" type="submit">Subscribe</button>
                  </span>
                </div>
              </form>
              <p class="color-muted"><small>We’ll never share your email address with a third-party.</small> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
