<!-- Header Header -->
<div class="header-header bg-white hidden-xs hidden-sm">
  <div class="container">
    <div class="row row-rl-0 row-tb-20 row-md-cell">
      <div class="brand col-md-3 t-xs-center t-md-left valign-middle">
        <a href="/" class="logo">
        <%= image_tag "/images/loyosja.png", height:"150", width: "220" %>
        </a>
      </div>
      <div class="header-search col-md-9">
        <div class="row row-tb-10" style="margin-top: 20px;">
          <div class="col-sm-8">
            <%= search_form_for @search, class: "search-form hidden-xs" do |f| %>
            <div class="input-group ">
              <%= f.text_field :product_name_cont, class: "form-control input-lg search-input", placeholder: "Enter Your Key Word Here ..." %>
              <div class="input-group-btn">
                <div class="input-group">
                  <%=f.collection_select :product_type_id_eq, ProductType.all, :id, :type_name, {prompt: "Select Category"}, {class: "form-control input-lg search-select"}%>
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-lg btn-search btn-block">
                    <i class="fa fa-search font-16"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-sm-4 t-xs-center t-md-right hidden-xs">
            <% if user_signed_in?%>
            <%if @current_wishlist.wishlist_line_items.count == 0%>
            <div class="header-wishlist ml-20">
              <%=link_to wishlist_path(@current_wishlist) do%>
              <span class="icon remove add lnr lnr-heart font-30"></span>
              <div>
                <span class="cart-number" id="total_wishlist_items_badge"><%=@current_wishlist.wishlist_line_items.count%></span>
              </div>
              <span class="title">Wish List</span>
              <% end %>
            </div>
            <%else%>
            <div class="header-wishlist ml-20">
              <%=link_to wishlist_path(@current_wishlist) do%>
              <span class="icon fa fa-heart font-30"></span>
              <div>
                <span class="cart-number" id="total_wishlist_items_badge"><%=@current_wishlist.wishlist_line_items.count%></span>
              </div>
              <span class="title">Wish List</span>
              <% end %>
            </div>
            <%end%>
            <% end %>
            <div class="header-cart">
              <%if !@current_cart%>
              <%=link_to cart_path do%>
              <span class="icon lnr lnr-cart"></span>
              <div>
                <span class="cart-number"><%=current_cart.items_count%></span>
              </div>
              <span class="title">Cart</span>
              <%end%>
              <%else%>
              <%=link_to cart_path do%>
              <span class="icon lnr lnr-cart"></span>
              <div>
                <span class="cart-number" id="total_cart_items_badge">
                <%=current_cart.items_count%>
                </span>
              </div>
              <span class="title">Cart</span>
              <%end%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Header -->
