

<!-- Header Menu -->
<div class="header-menu bg-blue">
  <div class="container">
    <nav class="nav-bar hidden-xs hidden-sm">
      <div class="nav-header">
        <span class="nav-toggle" data-toggle="#header-navbar">
        <i></i>
        <i></i>
        <i></i>
        </span>
      </div>
      <div id="header-navbar" class="nav-collapse">
        <ul class="nav-menu t-uppercase">
          <li class="active">
            <%=link_to "Home", root_path%>
          </li>
          <li>
            <%=link_to "ALL OF IT", products_path%>
          </li>
          <%@categories.each do |category|%>
          <li>
            <a href="#"><%=category.category_name.capitalize%></a>
            <ul>
              <%category.sub_categories.distinct.each do |sub_category|%>
              <li>
                <%=link_to sub_category.sub_category_name.capitalize, sub_category_path(sub_category.slug)%>
              </li>
              <%end%>
            </ul>
          </li>
          <%end%>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="uk-offcanvas-content hidden-lg hidden-md">
  <!-- menu position. delete .uk-light to change black navbar to white (also you should change logo to dark one)-->
  <nav class="uk-navbar-container uk-light" uk-navbar="mode: click" uk-sticky="animation: uk-animation-slide-top; show-on-up: true">
    <!-- logo or title-->
    <div class="uk-navbar-center nav-overlay">
      <img src="/images/circlelogo.png" alt="logo" width="60">
    </div>
    <!-- end logo or title-->
    <!-- menu-->
    <div class="uk-navbar-left nav-overlay">
      <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav uk-visible@m">
          <li class="uk-active class-hover-menu"> <%=link_to "Home", root_path%>
          <li>
            <%=link_to "Our Products", products_path%>
            <div class="uk-navbar-dropdown">
              <%@categories.each do |category|%>
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <%category.sub_categories.distinct.each do |sub_category|%>
                <li>
                  <%=link_to sub_category.sub_category_name.capitalize, sub_category_path(sub_category.slug)%>
                </li>
                <%end%>
              </ul>
              <%end%>
            </div>
          </li>
          <%@categories.each do |category|%>
          <li>
            <a href="#"><%=category.category_name%></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <%category.sub_categories.distinct.each do |sub_category|%>
                <li>
                  <%=link_to sub_category.sub_category_name.capitalize, sub_category_path(sub_category.slug)%>
                </li>
                <%end%>
              </ul>
            </div>
          </li>
          <%end%>
          <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
        </ul>
        <ul class="uk-navbar-nav uk-hidden@m">
          <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
          <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #mobile-navbar"></a></li>
        </ul>
      </div>
    </div>
    <div class="nav-overlay uk-navbar-right">
      <% if user_signed_in?%>
      <%if @current_wishlist.wishlist_line_items.count == 0%>
      <div class="header-wishlist">
        <%=link_to wishlist_path(@current_wishlist) do%>
        <span class="icon remove add lnr lnr-heart" style="color: #fff; font-size: 28px;"></span>
        <div>
          <span class="cart-number" id="total_wishlist_items_badge_header"><%=@current_wishlist.wishlist_line_items.count%></span>
        </div>
      </div>
      <% end %>
      <%else%>
      <div class="header-wishlist ">
        <%=link_to wishlist_path(@current_wishlist) do%>
        <span class="icon fa fa-heart" style="color: #fff; font-size: 28px;"></span>
        <div>
          <span class="cart-number" id="total_wishlist_items_badge_header"><%=@current_wishlist.wishlist_line_items.count%></span>
        </div>
        <% end %>
      </div>
      <%end%>
      <% end %>
      <div class="header-cart">
        <%if !@current_cart%>
        <%=link_to cart_path do%>
        <span class="icon lnr lnr-cart" style="color: #fff; font-size: 29px;"></span>
        <div>
          <span class="cart-number"><%=current_cart.items_count%></span>
        </div>
        <%end%>
        <%else%>
        <%=link_to cart_path do%>
        <span class="icon lnr lnr-cart" style="color: #fff; font-size: 29px;"></span>
        <div>
          <span class="cart-number" id="total_cart_items_badge_header"><%=current_cart.items_count%></span>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    <!-- endmenu-->
    <!-- Overlay Search-->
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
      <div class="uk-navbar-item uk-width-expand">
        <%= search_form_for @search, class: "uk-search uk-search-navbar uk-width-1-1" do |f| %>
        <%= f.text_field :product_name_cont, class: "uk-search-input", placeholder: "Enter keyword Here ...", autofocus: true %>
        <%end%>
      </div>
      <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
    <!-- end overlay search-->
  </nav>
  <!-- end menu position-->
  <!-- off-canvas menu-->
  <div id="mobile-navbar" uk-offcanvas="mode: slide; flip: false">
    <div class="uk-offcanvas-bar">
      <!-- off-canvas close button-->
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <!-- off-canvas close button-->
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <!-- logo or title-->
        <li class="uk-text-center" style="padding: 0 0 25px 0;">
          <a href="#">
          <img src="/images/togglelogo.png" alt="logo" width="120">
          </a>
        </li>
        <!-- end logo or title-->
        <!-- menu-->
        <li>
          <hr>
        </li>
        <div class="row ">
          <div class="col-sm-12 col-md-12 ">
            <ul class="nov-top1 nav-top nav-top-right list-inline t-xs-center t-md-right">
              <%if user_signed_in?%>
              <li>
                <%=link_to profiles_path do%><i class="fa fa-user"></i>Hi! Dear Customer<%end%>
              </li>
              <%else%>
              <li>
                <%=link_to sign_in_path do%>
                <i class="fa fa-key"></i>Sign In
                <%end%>
              </li>
              <li>
                <%=link_to sign_up_path do%>
                <i class="fa fa-lock"></i>Sign Up
                <%end%>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
        <li>
          <hr>
        </li>
        <li class="uk-text-center">
          <h3>Menu</h3>
        </li>
        <div class="uk-width-1-2@s uk-width-2-5@m t-uppercase">
          <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
            <li class="uk-active"><%=link_to "Home", root_path%></li>
            <li class="uk-defult"><%=link_to "all of it", products_path%></li>
            <%@categories.each do |category|%>
            <li class="uk-parent">
              <a href="#"><%=category.category_name.capitalize%></a>
              <ul class="uk-nav-sub">
                <%category.sub_categories.distinct.each do |sub_category|%>
                <li><%=link_to sub_category.sub_category_name.capitalize, sub_category_path(sub_category.slug)%></li>
                <%end%>
              </ul>
            </li>
            <%end%>
            <%if user_signed_in?%>
            <li>
              <%=link_to "Logout", destroy_user_session_path, method: :delete%>
            </li>
            <%end%>
          </ul>
        </div>
      </ul>
    </div>
  </div>
  <!-- end off-canvas menu-->
</div>
