<%@categories.each do |category|%>
  <section class="section latest-coupons-area" style="padding-top:15px;">
    <header class="ptb-15 prl-20 pos-r mb-30">
      <h3 class="section-title font-18 text-center"style="font-weight:bold">
        <b class="line-bottom t-uppercase">
        <%=category.category_name%>
        </b>
      </h3>
    </header>
    <div class="latest-coupons-slider owl-slider owl-carousel" data-autoplay-hover-pause="true" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000" data-margin="30" data-nav-speed="false" data-items="1"
      data-xxs-items="2" data-xs-items="2" data-sm-items="4" data-md-items="4" data-lg-items="4">
      <%category.products.each do |product|%>
      <div class="coupon-item">
        <div class="coupon-single panel t-center" style="padding: 0px !important;">
          <div class="row row-masnory row-tb-20">
            <div class="col-sm-12 col-lg-12 ">
              <div class="deal-single ">
                <%product.assets.limit(1).order(id: :asc).each do |asset|%>
                <%=link_to new_product_review_path(product.slug) do%>
                <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" style="padding-bottom: 95.25%;">
                  <img src="<%=asset.image%>">
                </figure>
                <%end%>
                <%end%>
                <div class="bg-white pt-20">
                  <div class="pr-md-10">
                    <h3 class="deal-title mb-10 text-center" style="font-size:14px; font-weight:bold;" title="<%=product.product_name%>">
                      <%=link_to first_cap_letter(product.product_name).truncate(20), new_product_review_path(product.slug)%>
                    </h3>
                  </div>
                  <div class="deal-price pos-r mb-15">
                    <h3 class="price ptb-5 text-center">
                      <ul class="deal-meta list-inline mb-10 color-mid text-center" style="font-size:14px;">
                        <span id="heart-coupon-<%=product.id%>"></span>
                        <%=number_to_currency(product.product_price)%>
                        <%if user_signed_in?%>
                        <!-- <span class="heart-1"> -->
                        <li>
                          <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
                          <i class="ico fa fa-heart" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <li>
                          <%=link_to product, remote: true do %>
                          <i class="fa fa-camera" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <!-- </span> -->
                        <%else%>
                        <!-- <span class="heart-1"> -->
                        <li>
                          <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
                          <i class="ico fa fa-heart" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <li>
                          <%=link_to product, remote: true do %>
                          <i class="fa fa-camera" style="color: #e67e22"></i>
                          <% end %>
                        </li>
                        <!-- </span> -->
                        <%end%>
                      </ul>
                    </h3>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <%end%>
    </div>
  </section>
  <!--  -->
<%end%>
