<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<section class="section latest-deals-area">
  <header class="ptb-15 prl-20 pos-r mb-30">
    <h3 class="section-title font-18 text-center t-uppercase"><b class="line-bottom">Lastest Products</b></h3>
  </header>
  <div class="row row-masnory row-tb-20">
    <%@products.each do |product|%>
    <div class="col-sm-4 col-lg-4" style=" padding-left: 50px; padding-right: 50px">
      <div class="deal-single">
        <%product.assets.limit(1).order(id: :asc).each do |asset|%>
        <%=link_to new_product_review_path(product.slug) do%>
        <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" style="padding-bottom: 95.25%;">
          <img src="<%=asset.image%>">
        </figure>
        <%end%>
        <%end%>
        <div class="bg-white pt-20 pl-20 pr-15 text-center">
          <span id="heart-<%=product.id%>"></span>
          <div class="pr-md-10">
            <h3 class="deal-title mb-10" style="font-size:15px; font-weight:bold;" title="<%=product.product_name%>">
              <%=link_to first_cap_letter(product.product_name).truncate(20), new_product_review_path(product.slug)%>
            </h3>
          </div>
          <div class="deal-price pos-r mb-15">
            <h3 class="price ptb-5">
              <ul class="deal-meta list-inline mb-10 color-mid loj-inline"style="font-size:15px!important;">
                <%if user_signed_in?%>
                <li>
                  <%=number_to_currency(product.product_price)%>
                </li>
                <li>
                  <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
                  <i class="ico fa fa-heart" style="color: #e67e22"></i>
                  <% end %>
                </li>
                <li>
                  <%=link_to product, remote: true do %>
                  <i class="fa fa-camera" style="color: #e67e22"></i>
                  <% end %>
                </li>
                <%else%>
                <li>
                  <%=number_to_currency(product.product_price)%>
                </li>
                <li>
                  <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
                  <i class="ico fa fa-heart" style="color: #e67e22"></i>
                  <% end %>
                </li>
                <li>
                  <%=link_to product, remote: true do %>
                  <i class="fa fa-camera" style="color: #e67e22"></i>
                  <% end %>
                </li>
                <%end%>
              </ul>
            </h3>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <%end%>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="load-more-container">
        <%= link_to "All Products", products_path, class: "all-products" %>
      </div>
    </div>
  </div>
</section>
