<div class="top-bar bg-gray">
  <div class="container hidden-xs hidden-sm">
    <div class="row ">
      <div class="col-sm-12 col-md-12 ">
        <ul class="nav-top nav-top-right list-inline t-xs-center t-md-right">
          <%if user_signed_in?%>
          <li>
            <%if current_user.username.nil?%>
            <a href="#"><i class="fa fa-user"></i>Dear, Beloved Customer<i class="fa fa-caret-down"></i></a>
            <%else%>
            <a href="#"><i class="fa fa-user"></i>Welcome <%=first_cap_letter(current_user.username)%> <i class="fa fa-caret-down"></i></a>
            <%end%>
            <ul>
              <li>
                <%=link_to "Ordered History", profiles_path%>
              </li>
              <li>
                <%=link_to "Edit Profile", edit_user_registration_path%>
              </li>
              <li>
                <%=link_to "Logout", destroy_user_session_path, method: :delete%>
              </li>
            </ul>
          </li>
          <%else%>
          <li>
            <%=link_to sign_in_path do%>
            <i class="fa fa-key"></i>Sign In
            <%end%>
          </li>
          <li>
            <%=link_to sign_up_path do%>
            <i class="fa fa-lock"></i>Sign Up
            <%end%>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
