<%=content_tag :div, class: "modal fade bd-example-modal-lg", id: "detail_#{dom_id(@order, :modal)}" do%>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h5 class="modal-title" id="myLargeModalLabel">Invoice</h5>
            </div>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-9">
              <table id="cart_list" class="cart-list mb-30">
                <thead class="panel t-uppercase">
                  <tr>
                    <th>Product name</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
<<<<<<< HEAD
                    <th>Sub total</th>
                    <th>Action</th>
=======
                    <th style="text-align: center;">Sub total</th>
                    <%if @order.status != true%>
                      <th>Action</th>
                    <%end%>
>>>>>>> ef52edddf64458b90ba19989301d359a492c19e4
                  </tr>
                </thead>
                <tbody>
                  <%@order.line_items.each do |item|%>
                  <tr class="panel alert" id="cancel_item_<%=item.id%>">
                    <td>
                      <div class="media-left is-hidden-sm-down">
                        <%item.product.assets.limit(1).each do |asset|%>
                        <figure class="product-thumb">
                          <img src="<%=asset.image%>" alt="product">
                        </figure>
                        <%end%>
                      </div>
                      <div class="media-body valign-middle">
                        <h6 class="title mb-15 t-uppercase">
                          <a href="#">
                            <%=item.product.product_name.capitalize%>
                            <%if item.color.present?%>
                              <br>
                              (
                                <strong>Color: <%=item.color%></strong>,
                                <strong>Size: <%=item.shirt_size%></strong>
                              )
                            <%end%>
                          </a>
                        </h6>
                        <div class="type font-12">
                          <span class="t-uppercase">Type :
                          </span><%=item.product.product_type.type_name.upcase%>
                        </div>
                      </div>
                    </td>
                    <td><%=number_to_currency(item.product.product_price)%></td>
                    <td>
                      <%=form_tag order_update_quantity_path(@order, item), remote: true do%>
                        <%=hidden_field_tag :product_id, item.product.id%>
                        <%if item.order.status != true%>
                          <div class="form-group">
                            <%=number_field_tag :quantity, item.quantity, class: "form-control"%>
                          </div>
                        <%else%>
                          <div class="form-group">
                            <%=number_field_tag :quantity, item.quantity, class: "form-control", disabled: true%>
                          </div>
                        <%end%>
                        <%if item.order.status != true%>
                          <button type="submit" name="button" class="btn btn-default update-qty">
                            <span>Update</span>
                          </button>
                        <%end%>
                      <%end%>
                    </td>
                    <td style="text-align: center;">
                      <div class="total_amount_<%=item.id%>"><%=number_to_currency(item.quantity * item.price)%></div>
                    </td>
                    <%if item.order.status != true%>
                      <td>
                        <%=link_to order_cancel_line_item_path(@order, item), method: :delete, remote: true, class: "cancel_item" do%>
                          Cancel
                        <%end%>
                      </td>
                    <%end%>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
            <div class="col-sm-3">
              <div class="review-wrapper clearfix">
                <div class="cart-price">
                  <h5 class="t-uppercase mb-20" style="font-weight: bold;">Cart total</h5>
                  <ul class="panel mb-20">
                    <li>
                      <div class="item-name">
                        Subtotal
                      </div>
                      <div class="price sub_total">
                        <%=number_to_currency(@order.total_amount)%>
                      </div>
                    </li>
                    <li>
                      <div class="item-name">
                        Delivery Fee
                      </div>
                      <div class="price">
                        $00.00
                      </div>
                    </li>
                    <li>
                      <div class="item-name">
                        <strong class="t-uppercase">Order total</strong>
                      </div>
                      <div class="price total_amount">
                        <span><%=number_to_currency(@order.total_amount)%></span>
                      </div>
                    </li>
                    <li>
                      <h6 class="t-uppercase mb-20" style="font-size: 12px;">
                        <b>Payment: Cash On Delivery</b>
                      </h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
        Close
        </button>
      </div>
    </div>
  </div>
<%end%>
