<%title "Cashing Delivery Information | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">
    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->
    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->
    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->
  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container" style="margin-top: 35px;">
      <div class="container">
        <div class="row row-rl-10 row-tb-20">
          <div class="page-content col-xs-12 col-sm-8 col-md-9">
            <!-- Checkout Area -->
            <section class="section checkout-area panel pt-20 pb-40" style="max-width: 850px;">
              <h2 class="h2 mb-20 h-title">Cashing Delivery Information</h2>
              <%=form_for @order do |f|%>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <%=f.text_field :first_name, class: "form-control", placeholder: "Enter Your First Name", required: true%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <%=f.text_field :last_name, class: "form-control", placeholder: "Enter Your Last Name", required: true%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address</label>
                    <%=f.text_field :address_one, class: "form-control", placeholder: "Enter your address", required: true%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone Number</label>
                    <%=f.text_field :phone_num, class: "form-control", placeholder: "Enter Your Phone Number", required: true%>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Additional Requests</label>
                    <%=f.text_area :description, class: "form-control", placeholder: "Enter your additional requests here (optional)", rows: "15"%>
                  </div>
                </div>
              </div>
              <%=f.submit "Place Order", class: "btn btn-lg btn-rounded mr-10"%>
              <%end%>
            </section>
            <!-- End Checkout Area -->
          </div>
          <div class="page-sidebar col-xs-12 col-sm-4 col-md-3">
            <!-- Blog Sidebar -->
            <aside class="sidebar blog-sidebar">
              <div class="row row-tb-10">
                <div class="col-xs-12">
                  <!-- Recent Posts -->
                  <div class="widget checkout-widget panel p-20">
                    <div class="widget-body">
                      <table class="table mb-15">
                        <tbody>
                          <tr>
                            <td class="color-mid">Total products</td>
                            <td><%=number_to_currency(current_cart.order.sub_total)%></td>
                          </tr>
                          <tr>
                            <td class="color-mid">Delivery</td>
                            <td>$0.00</td>
                          </tr>
                          <tr>
                            <td class="color-mid">Total tax</td>
                            <td>$0.00</td>
                          </tr>
                          <tr class="font-15">
                            <td class="color-mid">Total</td>
                            <td class="color-green"><%=number_to_currency(current_cart.order.sub_total)%></td>
                          </tr>
                        </tbody>
                      </table>
                      <%=link_to "Edit Cart", cart_path(@current_cart), class: "btn btn-block btn-sm"%>
                    </div>
                  </div>
                  <!-- End Recent Posts -->
                </div>
              </div>
            </aside>
            <!-- End Blog Sidebar -->
          </div>
        </div>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
