<%title"Profile | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div id="cancel_success"></div>
<div id="update_error"></div>
<div id="update_success"></div>
<div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="exampleModalLabel1">New Product</h5>
      </div>
      <div class="modal-body">
        <div id="products">
          <div id="product-errors"></div>
          <div id="product-success"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">
    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->
    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->
    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->
  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container" style="margin-top: 50px;">
      <div class="container">
        <div class="row row-rl-10 row-tb-20">
          <div class="page-sidebar col-xs-12 col-sm-4 col-md-5 col-lg-4 profile" style="padding-right: 0px; padding-left: 0px; padding-top: 0px;">
            <!-- Profile -->
            <div class="jumbo"></div>
            <div class="icons">
              <div class="big-icon">
                <%if current_user.avata.present?%>
                  <img src="<%=current_user.avata%>" alt="">
                <%else%>
                  <img src="/images/mblogo.png" alt="">
                <%end%>
              </div>
              <div class="chat-icon">
                <%=link_to wishlist_path(@current_wishlist) do%>
                  <i class="icon remove add lnr lnr-heart"></i>
                <%end%>
              </div>
              <div class="add-icon">
                <%=link_to products_path do%>
                <i class="icon lnr lnr-cart"></i>
                <%end%>
              </div>
            </div>
            <div class="details">
              <%if current_user.username.present?%>
              <h6><%=current_user.username.capitalize%></h6>
              <%else%>
              <h6>Loyosja's Fan</h6>
              <%end%>
              <p>Phone /
                <%=current_user.phone_number%>
              </p>
              <%=link_to "Edit Profile", edit_user_registration_path, style: "margin-bottom: 30px;",class: "btn btn-lg"%>
            </div>
            <div class="bio">
              <p>An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions.</p>
            </div>
          </div>
          <div style="padding-left: 40px;" class="page-sidebar col-xs-12 col-sm-8 col-md-7 col-lg-8">
            <h2 style="margin-top: 30px; margin-bottom: 30px;">Ordered Products</h2>
            <div class="table-container table-responsive">
              <table class="table">
                <tr style="font-size: 16px;">
                  <th>Sub Total</th>
                  <th>Status</th>
                  <th>Ordered Complete At</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
                <tbody>
                  <%@orders_status.each do |item|%>
                    <%if item.line_items.sum('quantity * price') != 0%>
                      <tr style="font-size: 14px;">
                        <td id="total_amount">
                          <%=number_to_currency(item.total_amount)%>
                        </td>
                        <td>
                          <%=order_status_converter(item.status)%>
                        </td>
                        <td>
                          <%=time_ago(item.created_at)%>
                        </td>
                        <td>
                          <%=link_to order_path(item), remote: true,class: "btn", "data-target" => "bd-example-modal-lg-panhara", style: "background: #27ae60;" do %>
                            View Ordered
                          <%end%>
                        </td>
                      </tr>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-xs-12 col-lg-12">
                <div class="load-more-container">
                  <%= paginate @orders_status, window: 2 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
