<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@admin, :modal)}" do%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0">Edit User</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <%=simple_form_for([:admin, @admin], remote: true) do |f|%>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Role</label>
            <%=f.select :role,(Admin.roles.keys.map{ |role| [role.titleize, role]}), {}, {:class=>"form-control"}%>
          </div>
          <div class="form-group col-md-6">
            <label>First Name</label>
            <%=f.text_field :first_name, class: "form-control"%>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <%=f.text_field :last_name, class: "form-control"%>
          </div>
          <div class="form-group col-md-12">
            <label>Username</label>
            <%=f.text_field :username, class: "form-control"%>
          </div>
          <div class="form-group col-md-6">
            <label>Password</label>
            <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
          </div>
          <div class="form-group col-md-6">
            <label>Confirmation Password</label>
            <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
          </div>
          <div class="form-group col-md-12">
            <label>Profile Picture</label><br>
            <%=f.file_field :photo%>
          </div>
          <div class="form-group col-md-12">
            <%=f.submit "Update", class: "btn btn-primary"%>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
