$('body').append('<%= j render partial: "admin/admins/edit"%>');
$('#edit_<%= dom_id @admin, :modal%>').modal('toggle');

$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@admin.username%>") {
    $(this).parent().addClass("edit_row_<%=@admin.id%>")
  }
});

$('tr').find('td:nth-child(3)').each(function(){
  if ($(this).text().trim() == "<%=@admin.username%>") {
    $(this).parent().addClass("edit_row_<%=@admin.id%>")
  }
});
