<% if page.current? %>
  <li class='page-item active'>
    <%= content_tag :a, page, class: "page-link", data: { remote: remote }, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li class='page-item'>
    <%= link_to page, url, class: "page-link", remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
