<div class="container hidden-xs">
   <section class="section latest-coupons-area ptb-30 hidden-lg hidden-md hidden-xs hidden-xxs">
      <header class="ptb-15 prl-20 pos-r mb-30">
         <h3 class="section-title font-18">Gift</h3>
         <a class="btn btn-o btn-xs pos-a right-10 pos-tb-center">View All</a>
      </header>
      <div class="latest-coupons-slider owl-slider" data-autoplay-hover-pause="true" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000" data-margin="30" data-nav-speed="false" data-items="1"
         data-xxs-items="1" data-xs-items="2" data-sm-items="2" data-md-items="3" data-lg-items="4">
         <%@subcategory.products.each do |product|%>
         <div class="coupon-item">
            <div class="coupon-single panel t-center">
               <div class="ribbon-wrapper is-hidden-xs-down">
                  <div class="ribbon">Featured</div>
               </div>
               <div class="row row-masnory row-tb-20">
                  <div class="col-sm-12 col-lg-12">
                     <div class="deal-single panel">
                        <%product.assets.limit(1).order(id: :asc).each do |asset|%>
                        <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="<%=asset.image%>" ​="​" style="padding-bottom: 95.25%;"></figure>
                        <%end%>
                        <div class="bg-white pt-20 pl-20 pr-15">
                           <div class="pr-md-10">
                              <h3 class="deal-title mb-10 text-left">
                                 <a href="deal_single.html"><%=product.product_name%></a>
                              </h3>
                             <!--  <ul class="deal-meta list-inline mb-10 color-mid text-left">
                                 <li><i class="ico fa fa-map-marker mr-10"></i>United State</li>
                                 <li><i class="ico fa fa-shopping-basket mr-10"></i>120 Bought</li>
                              </ul> -->
                           </div>
                           <div class="deal-price pos-r mb-15">
                              <h3 class="price ptb-5 text-left">
                                 <ul class="deal-meta list-inline mb-10 color-mid text-right">
                                    <span id="heart-coupon-<%=product.id%>"></span>
                                    <span class="mar4-ip678">
                                    <%=number_to_currency(product.product_price)%>
                                    </span>
                                    <%if user_signed_in?%>
                                    <li>
                                       <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
                                       <i class="ico fa fa-heart" style="color: #e67e22"></i>
                                       <% end %>
                                    </li>
                                    <li>
                                       <%=link_to product, remote: true do %>
                                       <i class="fa fa-camera" style="color: #e67e22"></i>
                                       <% end %>
                                    </li>
                                    <%else%>
                                    <li>
                                       <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
                                       <i class="ico fa fa-heart" style="color: #e67e22"></i>
                                       <% end %>
                                    </li>
                                    <li>
                                       <%=link_to product, remote: true do %>
                                       <i class="fa fa-camera" style="color: #e67e22"></i>
                                       <% end %>
                                    </li>
                                    <%end%>
                                 </ul>
                              </h3>
                           </div>
                           <hr>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- end row -->
            </div>
         </div>
         <%end%>
      </div>
   </section>
</div>
<!-- ------------------- -->
