<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-4  bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                     <div class="p-b-20 text-center">
                        <a href="/">
                           <p>
                              <img src="/images/loyosja.png" width="200" alt="">
                           </p>
                        </a>
                     </div>
                     <h3 class="text-center p-b-20 fw-400">Login</h3>
                     <div class="needs-validation">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-row">
                           <div class="form-group floating-label col-md-12">
                              <label>Phone Number or Email</label>
                              <%= f.text_field :login,autofocus: true,:class=>"form-control",:placeholder=>"Example: 095472222"%>
                           </div>
                           <div class="form-group floating-label col-md-12">
                              <label>Password</label>
                              <%= f.password_field :password, class: 'form-control', :placeholder=>"Password"%>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg" style="background-color:#e67e22; border-color:#e67e22">Login</button>
                        <%end%>
                     </div>
                     <%= render "devise/shared/links" %>
                     <p class="text-left p-t-10">
                        <%=link_to "Don't have an account?", sign_up_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover img-responsive" style="background-image: url('/images/105.png'); width="304" height="236"">
            </div>
         </div>
      </div>
   </main>
</div>
