<%=render "admin/shared/aside"%>
<main class="admin-main">
   <!--site header begins-->
   <%=render "admin/shared/header"%>
   <!--site header ends -->
   <section class="admin-content">
      <div class="container-fluid">
         <!-- Content -->
         <div class="row" style="margin-top: 30px;">
           <div class="col-lg-6">
             <div class="card m-b-30 ">
               <div class="card-header">
                   <h5 class="m-b-0">
                      Setting
                   </h5>
               </div>
               <div class="card-body ">
                 <%= form_for [:admin, @setting] do |f| %>
                 <%= f.fields_for :maintains do |maintain| %>

                   <div class="form-group col-md-6">
                     <%= maintain.select :option, Maintain::SELECT_PAGE, {prompt: "None"}, {:class=>"form-control"} %>
                   </div>

                   <div class="col-md-6">
                      <div class="form-group">
                         <label class="cstm-switch">
                         <%=maintain.check_box :under_maintain, class: "cstm-switch-input"%>
                         <span class="cstm-switch-indicator "></span>
                         <span class="cstm-switch-description"> Verify Your Customer Account </span>
                         </label>
                      </div>
                   </div>
                   <hr>
                 <%end%>
                 <div class="col-md-12">
                    <div class="form-group">
                       <%= f.submit "Update Setting", class: "btn btn-success" %>
                    </div>
                 </div>
                 <% end %>
               </div>
           </div>
           </div>
         </div>
      </div>
      <!-- Modal -->
   </section>
</main>
