<%=simple_form_for([:admin, @category], remote: true) do |f|%>
  <span id="error_messages"></span>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Category Name</label>
      <%=f.text_field :category_name, class: "form-control"%>
    </div>

    <div class="form-group col-md-12">
      <%=f.submit "Save User", class: "btn btn-primary"%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
<%end%>
