<tr class="delete_category_<%=category.id%>">
  <td id="data_<%=category.id%>">
    <%=category.id%>
  </td>
  <td>
    <%=category.category_name%>
  </td>
  <td>
    <%=time_ago(category.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, category], remote: true) do |f|%>
      <%=link_to admin_category_path(category), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_category_path(category.id),id: "link_#{category.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
