$("input#category_category_name").val("");
$(".disabled").attr("disabled", false)
$("#category-errors").html(" ");
$("#category-success").html("<%= custom_flash_message%>");
$("#category-index").append("<%=escape_javascript render(@category)%>");

$(function() {
  $('.delete_category_<%=@category.id%>').submitOnCheck();
});

$('.delete_category_<%=@category.id%>').submitOnCheck();
