$('body').append('<%= j render partial: "admin/categories/edit"%>');
$('#edit_<%= dom_id @category, :modal%>').modal('toggle');
$("#edit_category").text("Edit Category");
$('tr').find('td:nth-child(2)').each(function(){
  if ($(this).text().trim() == "<%=@category.category_name%>") {
    $(this).parent().addClass("edit_row_<%=@category.id%>")
  }
});
