$("#category-success").html("<br><%= j render partial: 'layouts/flash_success', locals: {flash: :flash}%>");
$(".edit_row_<%=@category.id%>").find('td:nth-child(2)').text("<%=@category.category_name%>").next().text("<%=time_ago(@category.created_at)%>")
