<div id="asset" style="width: 100%;">
  <div class="nested-fields">
    <div class="input-group  col-lg-12">
      <%= f.text_area :image, class: "form-control", rows: 5 %>
      <div class="input-group-btn">
        <%=link_to_remove_association f, class: 'btn btn-danger', id: "test" do%>
          <i class="fa fa-remove"></i>
        <%end%>
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <div class="form-group">
        <label class="cstm-switch">
          <%=f.check_box :status, class: "cstm-switch-input"%>
          <span class="cstm-switch-indicator "></span>
          <span class="cstm-switch-description">
            Status</span>
        </label>
      </div>
    </div>
  </div>
</div>
