<%=simple_form_for([:admin, @product], remote: true) do |f|%>
  <div class="form-row">
    <div class="form-group col-md-6">
       <label>Category</label>
       <%=f.collection_select :category_id, Category.all,:id, :category_name, {}, class: "form-control"%>
    </div>
    <div class="form-group col-md-6">
       <label>Sub Category</label>
       <%=f.collection_select :sub_category_id, SubCategory.all,:id, :sub_category_name, {}, class: "form-control"%>
    </div>
     <div class="form-group col-md-6">
        <label>Type</label>
        <%=f.collection_select :product_type_id, ProductType.all,:id, :type_name, {}, class: "form-control"%>
     </div>
     <div class="form-group col-md-6">
        <label>Filtered</label>
        <%=f.select :filtered, Product::SELECT_FILTERED_OPTIONS, {prompt: "Select Your Option"}, {:class=>"form-control"}%>
     </div>
     <div class="form-group col-md-6">
        <label>Product Name</label>
        <%=f.text_field :product_name, class: "form-control"%>
     </div>
     <div class="form-group col-md-6">
        <label>Price</label>
        <%=f.number_field :product_price, class: "form-control"%>
     </div>
     <div class="form-group col-md-12">
        <label>Stock Qty</label>
        <%=f.number_field :stock_quantity, class: "form-control"%>
     </div>
     <div class="form-group col-md-12">
        <label>Description</label>
        <%=f.text_area :description, class: "form-control", rows:"10"%>
     </div>
     <%= f.fields_for :assets do |assets| %>
        <%=render 'asset_fields', :f => assets%>
        <div class="form-group col-md-12">
          <%= link_to_add_association 'More Image', f, :assets, class: "btn btn-primary"%>
        </div>
     <% end %>
     <div class="form-group col-md-12">
        <%=f.submit "Save User", class: "btn btn-primary"%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
  </div>
<%end%>
