<tr class="delete_product_<%=product.id%>" id="<%=dom_id(product)%>">
  <td id="data_<%=product.id%>">
    <%=product.id%>
  </td>
  <td>
    <%=product.product_name%>
  </td>
  <td>
    <%=product.product_price%>
  </td>
  <td>
    <%=product.remaining_stock_quantity%>
  </td>
  <td>
    <%=time_ago(product.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, product], remote: true) do |f|%>
      <%=link_to admin_product_path(product), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_product_path(product),id: "link_#{product.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
