<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container-fluid">
      <div class="row m-t-30">
        <div class="col-md-auto col">
          <div class="kanban-item" style="margin-bottom: 0px;">
            <a class="kanban-item-title btn btn-primary" style="color: #fff;">
              <i class="mdi mdi-plus-circle-outline"></i>
              Add Product
            </a>
          </div>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col-md-12">
          <div class="card m-b-30 m-t-30">
            <div class="card-header">
              <h5 class="m-b-0">
                <i class="mdi mdi-checkbox-intermediate"></i>
                Products
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example" class="table table-hover align-td-middle">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Stock</th>
                      <th>Created_At</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id="product-index">
                    <%if @products.any?%>
                      <%= render @products%>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </section>
</main>

<div class="modal fade modal-slide-right" id="kanbanItemModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <h5 class="m-b-0">Create User</h5>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <div id="products">
          <div id="product-errors"></div>
          <div id="product-success"></div>
          <%=render partial: "product_form", locals: {product: @product}%>
        </div>
      </div>
    </div>
  </div>
</div>
