<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container">
      <!-- Content -->
      <div class="row">
        <div class="col-md-12">
          <div class="card m-b-30 m-t-30">
            <div class="card-header">
              <h5 class="m-b-0">
                <i class="mdi mdi-checkbox-intermediate"></i>
                Products
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover align-td-middle">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>QTY</th>
                      <th>Created_At</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody id="product-index" data-url="<%= sort_admin_products_path %>">
                    <%if @products.any?%>
                      <%= render @products%>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
  </section>
</main>
