/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree ./admin/css
 *= require_self
 *= require font-awesome
 *= require tether

 */

 .hide{
   display: none;
 }


 #error_explanation > h2{
   display: none;
 }

  #error_explanation > ul{
    padding-left: 0px;
  }

 #error_explanation > ul li{
   list-style: none;
 }

 .form-group{
   padding-left: 0px;
   padding-right: 0px;
 }

@import "toastr";
.countries-input{
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  width: 100%;
  height: calc(2.1rem + 2px);
  padding: .375rem .75rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #2e384d;
  border: 1px solid #dce4ec;
  border-radius: .25rem;
  background-color: #fff;
  background-clip: padding-box;
}
