/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./front-end/css
 *= require font-awesome
 *= require_self

 */
//  .header-cart .icon1, .header-wishlist .icon {
//   position: absolute;
//   top: -3px;
//   left: 10px;
//   font-size: 28px !important;
//   font-weight: normal;
//

.btn-danger:hover{
  border: none;
}

a.cancel_item:hover{
  color: #fff;
}

.cancel_item{
  background: #F00;
  color: #fff;
  font-size: 14px;
  padding: 15px;
}

.btn-remove{
  border: none;
  background: none;
  color: #F00;
  font-size: 18px;
  padding: 15px;
}

a.btn-remove:hover{
  color: #fff;
}

.update-qty{
  width: 100%;
  margin-bottom: 15px;
}

.btn-white{
  background: white;
  color: black;
  border: 1px solid #b6b6b6;
}

.btn-hover:hover{
  color: black !important;
  background: white;
  border: 1px solid #b6b6b6;
}

.image-with-caption .caption {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  color: #FFF;
  padding: 20px;
  height: 66px;
  overflow: hidden;
  transition: .4s;
  text-align: center;

}
.image-with-caption .caption h3 {
  margin: 0 0 15px;
  font-weight: bold;
}
.image-with-caption .caption p {
  line-height: 1.5;
  color: #dad9d9;
}


.profile {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: 50px;
}

.jumbo {
  height: 180px;
  background: url("https://www2.ametsoc.org/stac/assets/Image/MOUNTAIN_image/Snow-Covered%20Sierra%20Nevada%20Mountains,%20California.jpg");
  background-size: cover;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons .big-icon img {
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -67px;
}

.icons .chat-icon {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  order: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #F44336;
  border-radius: 50%;
  margin-top: -25px;
}

.icons .chat-icon i {
  font-size: 21px;
  color: white;
  cursor: pointer;
}

.icons .add-icon {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #2196F3;
  border-radius: 50%;
  margin-top: -25px;
}

.icons .add-icon i {
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details h6 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.details p {
  font-size: 13px;
  color: #03A9F4;
  margin-top: 5px;
  padding: 15px;
}

.bio {
  text-align: center;
}

.bio p {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.photos {
  display: flex;
  justify-content: space-between;
}

.record {
  margin-bottom: 70px;
}

.cart-price ul li .item-name {
  font-size: 14px;
}

.nav-top a {
  font-size: 14px;
}

.footer-top-area {
  margin-top: 100px;
}

.explain-process-area {
  margin-top: 50px;
}

.font-fa {
  font-size: 21px;
  margin-right: 5px;
  float: right;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #e67e22;
  background-color: #fff;
  border-color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
  color: #e67e22;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #e67e22;
  border-color: #e67e22;
}

.uk-nav-default {
  font-size: 12px !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #b2adad;
}

.line-bottom {
  border-bottom: 2px solid;
}

.nav-top a {
  display: block;
  color: orange;
}

.header-cart,
.header-wishlist {
  margin-bottom: 12px !important;
  padding-right: 10px !important;
}

.header-wishlist .icon {
  color: #e67e22;
}

.mb-t-and-mb-b-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.uk-offcanvas-bar {
  background: #314555 !important;
}

.nav-menu {
  font-size: 12px !important;
}

.uk-navbar-dropdown-nav > li > a {
  color: #000 !important;
}

.uk-navbar-nav > li > a {
  font-size: 10px !important;
  color: #fff;
  font-weight: bold;
}

.uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
  background: #314555;
}

#mobile-navbar .uk-offcanvas-bar {
  box-shadow: 2px 0 5px 0 #0e0e0e;
}

#mobile-navbar li:nth-child(1),
#mobile-navbar li:nth-child(2),
#mobile-navbar li:nth-child(3) {
  border-left: unset;
}

#mobile-navbar li {
  padding-left: 5px;
  border-left: 2px solid transparent;
}

#mobile-navbar li.uk-active {
  padding-left: 5px;
  border-left: 2px solid #545454;
}

.uk-sticky-fixed {
  box-shadow: 0 1px 5px 0 #0e0e0e;
}

.uk-navbar-nav > li > a {
  font-size: 13px;
  color: #fff;
}

ul.loj-inline {
  display: inline-flex;
}

.list-inline > li {
  display: inline-block;
  //  padding-right: 0px !important;
  //  padding-left: 0px !important;
  color: #e67e22;
}

.navbar-default .navbar-toggle {
  border-color: #384047 !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #384047 !important;
}

.header-wishlist-xs {
  margin-top: 4px !important;
}

.header-cart-xs {
  margin-top: 4px !important;
}

.backgrond-style {
  background-color: #384047 !important;
}

.title-color {
  color: #fff !important;
  font-size: 0;
}

.title-color-1 {
  color: #fff !important;
  font-size: 2px !important;
  margin-top: 0 !important;
  margin-bottom: 0;
}

.icon-size {
  font-size: 20px !important;
}

.fake {
  margin-left: 16px;
}

.fake-margin {
  margin-right: 5px;
}

.header-cart-fake,
.header-wishlist-fake {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  vertical-align: top;
  text-align: left;
}
/* nav bar search box - drop down menu button */

.navbar .navbar-search .dropdown-menu {
  min-width: 25px;
}

.dropdown-menu .label-icon {
  margin-left: 5px;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}

.btn-radius-0 {
  border-radius: 0 !important;
}

@import "toastr";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-family: 'Quicksand', sans-serif;
}

.about-us {
  h3 {
    font-weight: bold;
  }
  background: #f9f9f9;
  padding: 10px;
  margin: 2rem;
  border-radius: 8px;
  color: #222;
}

.delivery {
  background: #f9f9f9;
  padding: 10px;
  margin: 2rem;
  border-radius: 8px;
  color: #222;
}

.cancellation {
  padding: 20px;
}

.load-more {
  background-color: #fff;
  padding: 15px;
  color: orange;
  border: 1px solid orange;
}

.load-more:hover {
  color: #fff;
  background-color: orange;
}

.all-products {
  background-color: #fff;
  padding: 15px;
  color: orange;
  border: 1px solid orange;
  font-size: 14px;
}

.all-products:hover {
  color: #fff;
  background-color: orange;
}

.load-more-container {
  text-align: center;
  margin-top: 0px;
}

.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
  color: #fff;
}

.md-checkbox.md-checkbox-inline {
  display: inline-block;
}

.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}

.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}

.md-checkbox label:after,
.md-checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}

.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #337ab7;
  border: none;
}

.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}

.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.tab-content {
  margin-bottom: 20px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a img {
  width: 120px;
}

.nav > li > a {
  padding: 0;
}

.tab-content img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Login Form*/
.page-wrapper.auth-page {
  background: #fff;
}

.sp-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.box-layout .sp-header {
  max-width: 1400px;
  left: auto;
  right: auto;
}

.sp-logo-wrap {
  padding-top: 19px;
  padding-left: 15px;
}

.sp-logo-wrap .brand-img {
  position: relative;
  top: 2px;
  display: none;
}

.sp-logo-wrap .brand-text {
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.card-view .sp-logo-wrap .brand-text {
  color: #272B34;
}

.form-group.pull-right {
  padding-top: 19px;
  padding-right: 15px;
}

.auth-form-wrap {
  padding: 100px 0;
}

.auth-form {
  width: 50%;
}

.auth-form a.txt-danger:hover {
  color: #f83f37;
}
/*Error Page*/
.error-page .brand-text {
  color: #272B34;
}

.error-head {
  font-size: 112px;
  font-style: italic;
  line-height: 112px;
}
@import "toastr";

.verify_container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.clicked {
  color: yellow !important;
}

h3.ctr-explain-area-header {
  font-size: 18px;
}

button.btn-heart {
  background: none;
  border: none;
}
// span form.button_to{
//  float: right;
// }
@media (min-width: 768px) {
  .modal-dialog {
    width: 95% !important;
    margin: 30px auto;
  }
}

.reduce-qty {
  margin-right: 10px;
}

.increase-qty {
  margin-left: 10px;
}

.qty {
  border: 1px solid #e6e6e6;
  padding: 10px;
}
/* Parts are from twitter.com */
.HeartAnimation {
  padding-top: 2em;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;
  -webkit-animation: heart-burst 0.8s steps(28) infinite;
  animation: heart-burst 0.8s steps(28) infinite;
  margin: 0 auto;
}
@-webkit-keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
@keyframes heart-burst {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
/*================================================
    09: About Us page
  ================================================*/
/*09:1 about intro*/
.about-us-intro .intro-heading h2 {
  font-weight: 7000;
  margin-bottom: 0;
}

.about-us-intro .intro-heading {
  margin-bottom: 30px;
  margin-top: -7px;
}

.about-us-intro {
  margin-bottom: 50px;
}

.about_image_inner {
  text-align: center;
  margin: 0;
}

.about-our-mision-inner h2,
.about-our-principles-inner h2 {
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 28px;
}

.about-our-principles-inner .principle-list li {
  padding-left: 24px;
  position: relative;
}

.about-our-principles-inner .principle-list li:not(:last-child) {
  padding-bottom: 8px;
}

.about-our-principles-inner .principle-list li:before {
  content: "";
  position: absolute;
  background: #333333;
  height: 4px;
  width: 8px;
  left: 3px;
  top: 12px;
}

.pt-100 {
  padding-top: 20px !important;
}

.pb-100 {
  padding-bottom: 10px !important;
}

.add_fields {
  margin-top: 15px;
}

.nested-fields {
  margin-top: 15px;
}

.controls {
  margin-top: 15px;
}

#countries-input-0 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgba(33, 33, 33, 0.12);
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  color: #272B34;
  height: 42px;
}
@import "toastr";

.lable-order {
  font-size: 16px;
  font-weight: bold;
}

.file-upload .controls {
  display: none;
}

.file-upload .image-box {
  margin-top: 1em;
  height: 150px;
  width: 150px;
  // width: 20em;
  background: #D24D57;
  cursor: pointer;
  overflow: hidden;
}

.file-upload .image-box img {
  height: 100%;
  width: 100%;
  display: none;
}

.file-upload .image-box p {
  position: relative;
  top: 45%;
  color: #fff;
}
/* =========== Login ============ */
.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 6rem auto 0;
}

.form-signin .checkbox,
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* ============ Signup ============ */
.form-signup {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
/*============panel=================*/
/* Extenders */
.clearfix:after,
.panel .panel-element .element-actions:after,
.panel .panel-element .element-content .content-post:after {
  content: '';
  display: table;
  clear: both;
}

.animate,
.panel .panel-element .element-actions .btn-action,
.panel .panel-element .element-actions .btn-action > i,
.panel .panel-element .element-content,
.panel .panel-element .element-content .btn-more {
  transition: all 0.2s;
}

.panel {
  max-width: 550px;
  margin: 0 auto;
  padding: 15px 5px;
}

.panel .panel-element {
  position: relative;
}

.panel .panel-element .element-content {
  background-color: rgba(255, 255, 255, 0.705);
  padding: 15px;
  // border: 1px solid #e67e22;
  position: relative;
  right: 0;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.panel .panel-element .element-content .btn-more {
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.panel .panel-element .element-content .btn-more > i {
  font-size: 16px;
  color: #929292;
  vertical-align: middle;
}

.panel .panel-element .element-content .btn-more .icon-hearted,
.panel .panel-element .element-content .btn-more .icon-open {
  display: none;
}

.panel .panel-element .element-content .btn-more:hover {
  background-color: #F9F9F9;
}

.panel .panel-element .element-content .content-post .post-avatar {
  background-color: #ededed;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}

.panel .panel-element .element-content .content-post .post-content {
  margin-left: 75px;
  padding-top: 9px;
}

.panel .panel-element .element-content .content-post .post-content .post-body,
.panel .panel-element .element-content .content-post .post-content .post-title {
  display: block;
}

.panel .panel-element .element-content .content-post .post-content .post-title {
  font-size: 14px;
  color: #000;
}

.panel .panel-element .element-content .content-post .post-content .post-body {
  margin-top: 5px;
  font-size: 12px;
  color: #CCCBCB;
}

.panel .panel-element .element-content:hover .btn-more {
  opacity: 1;
}

.panel .panel-element .element-actions {
  width: 100px;
  height: 45px;
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.panel .panel-element .element-actions .btn-action {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.panel .panel-element .element-actions .btn-action > i {
  font-size: 20px;
}

.panel .panel-element .element-actions .btn-action.btn-hide {
  border-color: #34495e;
}

.panel .panel-element .element-actions .btn-action.btn-hide > i {
  color: #34495e;
}

.panel .panel-element .element-actions .btn-action.btn-hide:hover {
  background-color: #34495e;
}

.panel .panel-element .element-actions .btn-action.btn-heart {
  border-color: #e74c3c;
}

.panel .panel-element .element-actions .btn-action.btn-heart > i {
  color: #e74c3c;
}

.panel .panel-element .element-actions .btn-action.btn-heart:hover {
  background-color: #e74c3c;
}

.panel .panel-element .element-actions .btn-action:not(:last-child) {
  margin-right: 10px;
}

.panel .panel-element .element-actions .btn-action:hover > i {
  color: #fff;
}

.panel .panel-element:not(:first-child) {
  margin-top: 15px;
}

.panel .panel-element.panel-element-open .element-content {
  right: 140px;
}

.panel .panel-element.panel-element-open .element-content .btn-more {
  opacity: 1;
}

.panel .panel-element.panel-element-open .element-content .btn-more .icon-closed {
  display: none;
}

.panel .panel-element.panel-element-open .element-content .btn-more .icon-open {
  display: inline-block;
}

.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart {
  background-color: #e74c3c;
}

.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart > i {
  color: #fff;
}

.panel .panel-element.panel-element-hearted .element-content .btn-more {
  opacity: 1;
}

.panel .panel-element.panel-element-hearted .element-content .btn-more > i {
  color: #e74c3c;
}

.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-closed,
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-open {
  display: none;
}

.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-hearted {
  display: inline-block;
}
@media screen and (max-width: 500px) {
  h1 {
    margin-bottom: 0;
    padding: 40px;
    font-size: 25px;
  }

  .panel .panel-element .element-content .btn-more {
    opacity: 1;
  }

  .panel .panel-element .element-content .btn-more:hover {
    background-color: transparent;
  }
}

.product-count {
  font-size: 26px;
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}
/*===============Profile===================*/
.snip1559 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1559 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1559 .profile-image {
  padding: 15% 10% 0;
}

.snip1559 .profile-image img {
  margin-right: 0;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.snip1559 figcaption {
  padding: 5% 10% 15%;
}

.snip1559 h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1559 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.snip1559 .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.snip1559 .icons i:hover {
  color: #555;
}

.snip1559 .icons i a {
  text-decoration: none;
}
/* ----------- This is for responsive ----------------*/
/* ----------- iPhone 6, 6S, 7 and 8 ----------- --*/
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }

  .mar1-ip678 {
    margin-right: 65px !important;
  }

  .mar2-ip678 {
    margin-right: 155px !important;
  }

  .mar3-ip678 {
    margin-right: 64px !important;
  }

  .mar4-ip678 {
    margin-right: 135px !important;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }

  .mar1-ip678 {
    margin-right: 105px !important;
  }

  .mar2-ip678 {
    margin-right: 193px !important;
  }

  .mar3-ip678 {
    margin-right: 450px !important;
  }

  .mar4-ip678 {
    margin-right: 92px !important;
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }

  .mar1-ip678 {
    margin-right: 104px !important;
  }

  .mar2-ip678 {
    margin-right: 192px !important;
  }

  .mar3-ip678 {
    margin-right: 104px !important;
  }

  .mar4-ip678 {
    margin-right: 173px !important;
  }
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }

  .mar1-ip678 {
    margin-right: 425px !important;
  }

  .mar2-ip678 {
    margin-right: 147px !important;
  }

  .mar3-ip678 {
    margin-right: 349px !important;
  }

  .mar4-ip678 {
    margin-right: 127px !important;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }
  // .heart-1{
  //   margin-right: 0px !important;
  // }
  /* For GalaxyS5: */
  .mar1-ip678 {
    margin-right: 48px;
  }

  .mar2-ip678 {
    margin-right: 43px !important;
  }

  .mar3-ip678 {
    margin-right: 49px !important;
  }

  .mar4-ip678 {
    margin-right: 119px !important;
  }
}
@media only screen and (min-width: 411px) and (max-width: 700px) {

  .header-cart .icon,
  .header-wishlist .icon {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 28px;
    font-weight: normal;
  }
  /* For google picxel: */
  .mar1-ip678 {
    margin-right: 100px !important;
  }

  .mar2-ip678 {
    margin-right: 190px !important;
  }

  .mar3-ip678 {
    margin-right: 100px !important;
  }

  .mar4-ip678 {
    margin-right: 170px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  /* For iPed: */
  .mar1-ip678 {
    margin-right: 65px !important;
  }

  .mar2-ip678 {
    margin-right: 103px !important;
  }

  .mar3-ip678 {
    margin-right: 105px !important;
  }

  .mar4-ip678 {
    margin-right: 83px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  /* For iPed pro: */
  .mar1-ip678 {
    margin-right: 174px !important;
  }

  .mar2-ip678 {
    margin-right: 100px !important;
  }

  .mar3-ip678 {
    margin-right: 215px !important;
  }
  // .mar4-ip678{ margin-right: 83px  !important; }
}
@media only screen and (min-width: 1321px) and (max-width: 1666px) {
  /* For desktop: */
  .mar1-ip678 {
    margin-right: 80px !important;
  }

  .mar2-ip678 {
    margin-right: 70px !important;
  }

  .mar3-ip678 {
    margin-right: 133px !important;
  }
}
