<%title"#{@category.category_name} | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">
    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->
    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->
    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->
  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container">
      <div class="container">
        <section class="section latest-coupons-area ptb-30">
          <header class="ptb-15 prl-20 pos-r mb-30">
            <h1 class="section-title text-center">Gift</h1>
          </header>
          <div class="latest-coupons-slider owl-slider" data-autoplay-hover-pause="true" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000" data-margin="30" data-nav-speed="false" data-items="1"
            data-xxs-items="1" data-xs-items="2" data-sm-items="2" data-md-items="3" data-lg-items="4">
            <%@category.products.each do |product|%>
            <div class="coupon-item">
              <div class="coupon-single panel t-center" style="padding: 0px;">
                <div class="ribbon-wrapper is-hidden-xs-down">
                  <div class="ribbon">Featured</div>
                </div>
                <div class="row row-masnory row-tb-20">
                  <div class="col-sm-12 col-lg-12">
                    <div class="deal-single">
                      <%product.assets.limit(1).order(id: :asc).each do |asset|%>
                      <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" style="padding-bottom: 95.25%;">
                        <img src="<%=asset.image%>">
                      </figure>
                      <%end%>
                      <div class="bg-white pt-20 pl-20 pr-15">
                        <div class="pr-md-10">
                          <h3 class="deal-title mb-10 text-left">
                            <a href="deal_single.html"><%=product.product_name%></a>
                          </h3>
                          <ul class="deal-meta list-inline mb-10 color-mid text-left">
                            <li><i class="ico fa fa-map-marker mr-10"></i>United State</li>
                            <li><i class="ico fa fa-shopping-basket mr-10"></i>120 Bought</li>
                          </ul>
                        </div>
                        <div class="deal-price pos-r mb-15">
                          <h3 class="price ptb-5 text-left">
                            <span id="heart-coupon-<%=product.id%>"></span>
                            <%=number_to_currency(product.product_price)%>
                            <ul class="deal-meta list-inline mb-10 color-mid text-right">
                              <%if user_signed_in?%>
                              <li>
                                <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
                                <i class="ico fa fa-heart" style="color: #e67e22"></i>
                                <% end %>
                              </li>
                              <li>
                                <%=link_to product, remote: true do %>
                                <i class="fa fa-camera" style="color: #e67e22"></i>
                                <% end %>
                              </li>
                              <%else%>
                              <li>
                                <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
                                <i class="ico fa fa-heart" style="color: #e67e22"></i>
                                <% end %>
                              </li>
                              <li>
                                <%=link_to product, remote: true do %>
                                <i class="fa fa-camera" style="color: #e67e22"></i>
                                <% end %>
                              </li>
                              <%end%>
                            </ul>
                          </h3>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </div>
            </div>
            <%end%>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
