<%if @new_order.count > 0 %>
  <audio autoplay>
    <source src="/notification/insight.mp3" type="audio/mpeg">
  </audio>
<%end%>
<%=render "admin/shared/aside"%>
<main class="admin-main">
  <!--site header begins-->
  <%=render "admin/shared/header"%>
  <!--site header ends -->
  <section class="admin-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 m-b-20 p-t-20">
          <h5>
            <i class="fe fe-zap"></i>
            Stats
          </h5>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="database"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Orders</p>
                <h1 class="fw-400"><%=@orders%></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="zap"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Customers</p>
                <h1 class="fw-400"><%=@customers%></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="thumbs-up"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Products</p>
                <h1 class="fw-400"><%=@products%></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="shopping-cart"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Ordered Amount Total</p>
                <h1 class="fw-400"><%=@admin%></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="shopping-cart"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Ordered Amount Total</p>
                <h1 class="fw-400"><%=total_order(@orders)%></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="pb-2">
                <div class="avatar avatar-lg">
                  <div class="avatar-title bg-soft-primary rounded-circle">
                    <i data-feather="shopping-cart"></i>
                  </div>
                </div>
              </div>
              <div>
                <p class="text-muted text-overline m-0">Profit</p>
                <h1 class="fw-400"><%="Nothing Yet"%></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 m-b-30">
          <h5>
            <i class="fe fe-users"></i>
            Oreders
          </h5>
          <div class="table-responsive">
            <table id="example" class="table align-td-middle table-card">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Created_At</th>
                </tr>
              </thead>
              <tbody>
                <%@completed_order.each do |order|%>
                <tr>
                  <td>00<%=order.id%></td>
                  <td><%=status_converter(order.status, correct: "Delivered", incorrect: "In Progress")%></td>
                  <td><%=time_ago(order.created_at)%></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="modal modal-slide-left  fade" id="siteSearchModal" tabindex="-1" role="dialog" aria-labelledby="siteSearchModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-all-0" id="site-search">
        <button type="button" class="close light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-dark bg-dark text-white p-t-60 p-b-20 bg-dots">
          <h3 class="text-uppercase    text-center  fw-300 ">
            Search
          </h3>
          <div class="container-fluid">
            <div class="col-md-10 p-t-10 m-auto">
              <input type="search" placeholder="Search Something" class=" search form-control form-control-lg">
            </div>
          </div>
        </div>
        <div class="">
          <div class="bg-dark text-muted container-fluid p-b-10 text-center text-overline">
            results
          </div>
          <div class="list-group list  ">
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle" src="-3.jpg" alt="user-image"></div>
              </div>
              <div class="">
                <div class="name">Eric Chen</div>
                <div class="text-muted">Developer</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle" src="-4.jpg" alt="user-image"></div>
              </div>
              <div class="">
                <div class="name">Sean Valdez</div>
                <div class="text-muted">Marketing</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm "><img class="avatar-img rounded-circle" src="-8.jpg" alt="user-image"></div>
              </div>
              <div class="">
                <div class="name">Marie Arnold</div>
                <div class="text-muted">Developer</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm ">
                  <div class="avatar-title bg-dark rounded">
                    <i class="mdi mdi-24px mdi-file-pdf"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="name">SRS Document</div>
                <div class="text-muted">25.5 Mb</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm ">
                  <div class="avatar-title bg-dark rounded">
                    <i class="mdi mdi-24px mdi-file-document-box"></i>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="name">Design Guide.pdf</div>
                <div class="text-muted">9 Mb</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm ">
                  <div class="avatar avatar-sm  ">
                    <div class="avatar-title bg-primary rounded">
                      <i class="mdi mdi-24px mdi-code-braces"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="name">response.json</div>
                <div class="text-muted">15 Kb</div>
              </div>
            </div>
            <div class="list-group-item d-flex  align-items-center">
              <div class="m-r-20">
                <div class="avatar avatar-sm ">
                  <div class="avatar avatar-sm ">
                    <div class="avatar-title bg-info rounded">
                      <i class="mdi mdi-24px mdi-file-excel"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="name">June Accounts.xls</div>
                <div class="text-muted">6 Mb</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
