<%=content_tag :div, class: "modal fade modal-slide-right", id: "edit_#{dom_id(@user, :modal)}" do%>
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <div class="row">
              <div class="col-md-12">
                 <h5 class="m-b-0">Edit User</h5>
              </div>
           </div>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <%=simple_form_for([:admin, @user], remote: true) do |f|%>
        <div class="modal-body overflow-auto">
           <div class="form-row">
             <div class="col-md-6">
                <div class="form-group">
                   <label for="recipient-name" class="control-label mb-10">Username</label>
                   <%=f.text_field :username, class: "form-control", placeholder: "Username"%>
                </div>
             </div>
             <div class="col-md-6">
                <div class="form-group">
                   <label for="recipient-name" class="control-label mb-10">Email</label>
                   <%=f.text_field :email, class: "form-control", placeholder: "Email"%>
                </div>
             </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Phone</label>
                    <%=f.text_field :phone_number, class: "form-control", placeholder: "Phone Number"%>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Password</label>
                    <%=f.password_field :password, class: "form-control", placeholder: "Password"%>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Confirmation Password</label>
                    <%=f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
                 </div>
              </div>
              <div class="col-md-12">
                 <div class="form-group">
                    <label class="cstm-switch">
                    <%=f.check_box :verified, class: "cstm-switch-input"%>
                    <span class="cstm-switch-indicator "></span>
                    <span class="cstm-switch-description"> Verify Your Customer Account </span>
                    </label>
                 </div>
              </div>
           </div>
        </div>
        <div class="modal-footer justify-content-start">
           <%=f.submit "Update", class: "btn btn-primary"%>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <%end%>
     </div>
  </div>
<%end%>
