<tr class="delete_user_<%=user.id%>">
  <td id="data_<%=user.id%>">
    <%=user.id%>
  </td>
  <td>
    <%=user.phone_number%>
  </td>
  <td>
    <%=time_ago(user.created_at)%>
  </td>
  <td class="text-center">
    <%=form_for([:admin, user], remote: true) do |f|%>
      <%=link_to admin_user_path(user), remote: true,class: "btn btn-primary", "data-target" => "bd-example-modal-lg-panhara" do %>
        View
      <%end%>
      <%=link_to edit_admin_user_path(user),id: "link_#{user.id}",class: "btn btn-primary", remote: true do %>
        Edit
      <% end %>
    <%end%>
  </td>
</tr>
