$(".disabled").attr("disabled", false)
$("#user-errors").html(" ");
$("#user-success").html("<%= custom_flash_message%>");
$("#user-index").append("<%=escape_javascript render(@user)%>");

$(function() {
  $('.delete_user_<%=@user.id%>').submitOnCheck();
});

$('.delete_user_<%=@user.id%>').submitOnCheck();
