<div class="col-xs-6 col-sm-4 col-lg-3 record" data-id="<%= product.id %>">
  <div class="deal-single">
    <%product.assets.limit(1).order(id: :asc).each do |asset|%>
      <%=link_to new_product_review_path(product.slug) do%>
        <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" style="padding-bottom: 95.25%;">
          <img src="<%=asset.image%>">
        </figure>
      <%end%>
    <%end%>
    <div class="bg-white pt-20">
      <div class="pr-md-10">
        <h3 class="deal-title mb-10 text-center" style="font-size:14px; font-weight:bold;" title="<%=product.product_name%>">
          <%=link_to first_cap_letter(product.product_name).truncate(20), new_product_review_path(product.slug)%>
        </h3>
      </div>
      <div class="deal-price pos-r mb-15">
        <h3 class="price ptb-5 text-center">
          <ul class="deal-meta list-inline mb-10 color-mid text-center" style="font-size:14px;">
            <span id="heart-<%=product.id%>"></span>
            <%=number_to_currency(product.product_price)%>
            <%if user_signed_in?%>
            <li>
              <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart", remote: true do %>
              <i class="ico fa fa-heart" style="color: #e67e22"></i>
              <% end %>
            </li>
            <li>
              <%=link_to product, remote: true do %>
              <i class="fa fa-camera" style="color: #e67e22"></i>
              <% end %>
            </li>
            <%else%>
            <li>
              <%=button_to wishlist_line_items_path(:product_id => product.id), params:{productID: product.id},class: "btn-heart" do %>
              <i class="ico fa fa-heart" style="color: #e67e22"></i>
              <% end %>
            </li>
            <li>
              <%=link_to product, remote: true do %>
              <i class="fa fa-camera" style="color: #e67e22"></i>
              <% end %>
            </li>
            <%end%>
          </ul>
        </h3>
      </div>
      <hr>
    </div>
  </div>
</div>
