<div id="out_of_stock_error" style="display: none;"></div>
<div id="added-to-cart"></div>
<div id="line_item-errors"></div>
<%=content_tag :div, class: "modal fade ", id: dom_id(@product, :modal) do%>
<div class="modal-dialog" role="document">
  <div class="modal-content bs-example-modal-lg">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%=first_cap_letter(@product.product_name)%></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="page-content col-xs-12 col-sm-7 col-md-6">
          <div class="row">
            <div class="page-content col-xs-12 col-sm-7 col-md-6 col-lg-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="deal-deatails panel" style="max-width: 620px;">
                    <div class="deal-slider">
                      <div class="tab-content">
                        <%@product.assets.each do |asset|%>
                        <div class="tab-pane <%=status_converter(asset.status)%>" id="<%=asset.id%>">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="profile-image">
                                <img src="<%=asset.image%>" alt=" profile " class="img-responsive">
                              </div>
                            </div>
                          </div>
                        </div>
                        <%end%>
                      </div>
                      <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                          <%@product.assets.each do |asset|%>
                          <li class="<%=status_converter(asset.status)%>">
                            <a href="#<%=asset.id%>" data-toggle="tab" aria-expanded="true">
                            <img src="<%=asset.image%>" alt="" class="img-responsive">
                            </a>
                          </li>
                          <%end%>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-sidebar col-md-6 col-sm-5 col-xs-12">
          <!-- Blog Sidebar -->
          <aside class="sidebar blog-sidebar">
            <div class="row row-tb-10">
              <div class="col-xs-12">
                <div class="widget single-deal-widget panel prl-20">
                  <div class="widget-body ">
                    <h1 class="mb-20 h3 hidden-xs " ,="," style="font-family: Georgia; font-size:20px; font-weight:bold;">
                      <%=first_cap_letter(@product.product_name.capitalize)%>
                    </h1>
                    <span class="oi oi-heart"></span>
                    <div class="rating mb-10">
                      <span class='star-rating' data-score="<%= @avg_rating %>">
                      </span>
                      <p>
                        <em><%= "#{@reviews.size} reviews" %></em>
                        <span class="rating-reviews">
                        (
                        <span class="rating-count">
                        <%=@total_sum_rating%>
                        </span>
                        rates )
                        </span>
                      </p>
                    </div>
                    <div style="color: black">
                      <hr/>
                    </div>
                    <div class="price mb-20">
                      <h2 class="price"><%=number_to_currency(@product.product_price)%></h2>
                      <p>
                        <%if @product.remaining_stock_quantity == 0%>
                        <span style="color: red;">Out Of Stock</span>
                        <%else%>
                        <span style="color: black;"><%=pluralize(@product.remaining_stock_quantity, "Item")%> <span style="color: green; font-weight: bold;">In Stock</span></span>
                        <%end%>
                      </p>
                    </div>
                    <div class="row">
                      <div class="buy-now">
                        <%=form_tag line_items_path, remote: true do%>
                        <%=hidden_field_tag :product_id, @product.id%>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="form-group col-lg-6">
                              <label for="">QTY</label>
                              <%=number_field_tag :quantity, 1, class: "form-control"%>
                            </div>
                            <%if @product.category.category_name == "T-shirts"%>
                              <div class="form-group col-lg-6">
                                <label for="">Choose Color</label>
                                <%=select_tag :color, raw("
                                  <option>White</option>
                                  <option>Pink</option>
                                  <option>Blue</option>
                                  <option>Gray</option>
                                  <option>Yellow</option>"), { prompt: "Select Color" , :required => true, class: "form-control" }%>
                              </div>
                              <div class="form-group col-lg-12">
                                <label for="">Choose Size</label>
                                <%=select_tag :shirt_size, raw("
                                  <option>S</option>
                                  <option>M</option>
                                  <option>L</option>
                                  <option>XL</option>"),{ prompt: "Select Size" , :required => true, class: "form-control" }%>
                              </div>
                            <%end%>
                            <%if @product.category.category_name == "Phone Cases"%>
                              <div class="form-group col-lg-6">
                                <label for="">Choose Phone Model</label>
                                <%=select_tag :phone_type, raw("
                                  <optgroup label='Samsung'>
                                    <option>A20</option>
                                    <option>A30</option>
                                    <option>A50</option>
                                    <option>A70</option>
                                    <option>A7</option>
                                    <option>Samsung S7egde</option>
                                    <option>Samsung S8 / S8+</option>
                                    <option>Samsung S9 / S9+</option>
                                    <option>Samsung S10 / S10+</option>
                                    <option>Note 8</option>
                                    <option>Note 9</option>
                                  </optgroup>
                                  <optgroup label='Iphone'>
                                    <option>Iphone 5</option>
                                    <option>Iphone 6</option>
                                    <option>Iphone 7/7+</option>
                                    <option>Iphone 8/8+</option>
                                    <option>Iphone X</option>
                                    <option>Iphone Xr</option>
                                    <option>Iphone Xs</option>
                                    <option>Iphone Xs Max</option>
                                  </optgroup>
                                  <optgroup label='Oppo'>
                                    <option>F3</option>
                                    <option>F5</option>
                                    <option>F7</option>
                                    <option>F9</option>
                                    <option>F11 / F11 Pro</option>
                                    <option>A59</option>
                                    <option>A57</option>
                                    <option>A83</option>
                                    <option>A3s</option>
                                    <option>A5s</option>
                                    <option>A7</option>
                                    <option>A71</option>
                                  </optgroup>
                                  <optgroup label='Huawei'>
                                    <option>Nova 3e</option>
                                    <option>Nova 3</option>
                                    <option>Nova 3i</option>
                                    <option>Y9-2018</option>
                                    <option>Mate 20</option>
                                    <option>Mate 20pro</option>
                                    <option>P20 / P20pro</option>
                                    <option>Nova 4</option>
                                    <option>P30 / P30pro</option>
                                  </optgroup>
                                "), { prompt: "Select Model", class: "form-control", :required => true }%>
                              </div>
                            <%end%>
                          </div>
                        </div>
                        <br>
                        <div class="form-group col-lg-6">
                          <button type="submit" name="button" class="btn btn-block btn-lg">
                          <i class="fa fa-shopping-cart font-16 mr-10"></i>
                          Add to Cart
                          </button>
                        </div>
                        <%end%>
                      </div>
                      <div class="col-lg-6">
                        <div class="buy-now mb-20">
                          <%if user_signed_in?%>
                          <%=button_to wishlist_line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "margin-top:0px;" , params:{productID: @product.id}, remote: true do %>
                          <i class="fa fa-heart font-16 mr-10"></i>
                          Add to Wishlist
                          <% end %>
                          <%else%>
                          <%=button_to wishlist_line_items_path(:product_id => @product.id), class: "btn btn-block btn-lg" , style: "margin-top:0px;" , params:{productID: @product.id} do %>
                          <i class="fa fa-heart font-16 mr-10"></i>
                          Add to Wishlist
                          <%end%>
                          <%end%>
                        </div>
                        <br/>
                      </div>
                    </div>
                    <div class="time-left">
                      <p>Kindly message us on
                        <a class="color-mid t-uppercase" href="https://www.facebook.com/loyosjagift">facebook</a> or
                        <a class="color-mid t-uppercase" href="https://www.instagram.com/loyosjagift/">Instagram</a>
                        to ask for real-time pictures of this product.
                      </p>
                      <p style="font-size:15px; color:green;"> <span style="font-size:20px; color:#384047;">Cash On Delivery</span> available!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <!-- Recent Posts -->
                <div class="widget about-seller-widget panel prl-20">
                  <%= form_for([@product, @review], remote: true) do |f| %>
                  <div class="form-group row">
                    <div class="col-sm-12" id='star-rating'></div>
                    <div class="col-sm-6">
                    </div>
                  </div>
                  <%= f.submit 'Rate Now', class: 'btn btn-primary', style: "margin-bottom: 20px;", id: "rating-btn" %>
                  <% end %>
                  <h3 class="widget-title h-title">Product Description</h3>
                  <div class="widget-body">
                    <br/>
                    <div class="review-wrapper clearfix">
                      <p class="mb-15">
                        <%=raw markdown(@product.description)%>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Recent Posts -->
              </div>
            </div>
          </aside>
        </div>
        <!-- End Blog Sidebar -->
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<%end%>
