<%title "Products | loyosja.com"%>
<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div id="wishlist_line_item-errors"></div>
<div id="wishlist_line_item-success"></div>
<!-- Preloader -->
<div id="preloader" class="preloader">
  <div class="loader-cube">
    <div class="loader-cube__item1 loader-cube__item"></div>
    <div class="loader-cube__item2 loader-cube__item"></div>
    <div class="loader-cube__item4 loader-cube__item"></div>
    <div class="loader-cube__item3 loader-cube__item"></div>
  </div>
</div>
<!-- End Preloader -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<!-- WRAPPER -->
<!-- ––––––––––––––––––––––––––––––––––––––––– -->
<div id="pageWrapper" class="page-wrapper">
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <header id="mainHeader" class="main-header">
    <!-- Top Bar -->
    <%=render "front-end/topbar"%>
    <!-- End Top Bar -->
    <!-- Header Header -->
    <%=render "front-end/header"%>
    <!-- End Header Header -->
    <!-- Header Menu -->
    <%=render "front-end/header-menu"%>
    <!-- End Header Menu -->
  </header>
  <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
  <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
  <main id="mainContent" class="main-content">
    <div class="page-container">
      <div class="container">
        <section class="section latest-coupons-area ptb-30">
          <header class=" ptb-15 prl-20 pos-r mb-30">
            <h3 class="section-title font-18" style="text-align: center">
              <b class="line-bottom">ALL PRODUCTS</b>
            </h3>
          </header>
          <div class="row load-product">
            <%= render @products %>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="load-more-container">
                <%if !params[:search]%>
                  <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
                  <%= link_to "Load More", products_path, class: "load-more" %>
                <%end%>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <%=render "front-end/footer-area"%>
</div>
<div id="backTop" class="back-top is-hidden-sm-down">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
