$('#cancel_success').html("<%= custom_flash_message%>");
<%if @order.status == false%>
  $('#cancel_item_<%=params[:id]%>').remove();
<%end%>
$('.sub_total').html("<%=number_to_currency(@order.total_amount)%>")
$(".total_amount").html("<span><%=number_to_currency(@order.total_amount)%></span>")
