$('#delete_cart_<%=params[:id]%>').remove();
$('#total_cart_items_badge').html("<%= current_cart.items_count %>");
$('#total_cart_items_badge_header').html("<%= current_cart.items_count %>");
$('#sub_total').html("<%=number_to_currency(current_cart.order.sub_total)%>")
$('#sub_total_order').html("<span><%=number_to_currency(current_cart.order.sub_total)%></span>")
$("#remove-success").html("<%= custom_flash_message%>");
