$('#total_cart_items_badge').html("<%= @current_cart.line_items.count %>");
$('#total_cart_items_badge_header').html("<%= @current_cart.line_items.count %>");
$('#qty_<%=@line_item.id%>').html('<%=@line_item.quantity%>');
$('#qty').html('<%=@line_item.quantity%>');
$(function() {
  $('.delete_cart_<%=@line_item.id%>').submitOnCheck();
});

$('.delete_cart_<%=@line_item.id%>').submitOnCheck();
