$('#update_success').html("<%= custom_flash_message%>");
$('#total_amount').html("<%=number_to_currency(@order.total_amount)%>")
$('.sub_total').html("<%=number_to_currency(@order.total_amount)%>")
$(".total_amount_<%=@line_item.id%>").html("<span><%=number_to_currency(@line_item.quantity * @line_item.price)%></span>")
$(".total_amount").html("<span><%=number_to_currency(@order.total_amount)%></span>")
