<header class="admin-header">
  <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"></a>
  <nav class=" mr-auto my-auto">
    <ul class="nav align-items-center">
      <li class="nav-item">
        <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#">
          <i class=" mdi mdi-magnify mdi-24px align-middle"></i>
        </a>
      </li>
    </ul>
  </nav>
  <nav class=" ml-auto">
    <ul class="nav align-items-center">
      <li class="nav-item">
        <div class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell" style="font-size: 22px;"></i>
            <%if @new_order.count != 0%>
              <span class="notification-counter"></span>
            <%end%>
          </a>
          <div class="dropdown-menu notification-container dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-264px, 52px, 0px);">
            <div class="d-flex p-all-15 bg-white justify-content-between border-bottom ">
              <a href="#!" class="mdi mdi-18px mdi-settings text-muted"></a>
                <span class="h5 m-0">Notifications</span>
              <a href="#!" class="mdi mdi-18px mdi-notification-clear-all text-muted"></a>
            </div>
            <div class="notification-events bg-gray-300">
              <div class="text-overline m-b-5">today</div>
              <%@new_order.each do |order|%>
                <a href="/admin/orders" class="d-block m-b-10">
                  <div class="card">
                    <div class="card-body">
                      <i class="fa fa-circle text-success"></i>
                      New Order (<%= order.created_at%>)</div>
                  </div>
                </a>
              <%end%>

            </div>

          </div>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm avatar-online">
            <span class="avatar-title rounded-circle bg-dark"><%=current_admin.username[0].capitalize%></span>
          </div>
        </a>
        <div class="dropdown-menu  dropdown-menu-right">
          <a class="dropdown-item" href="#">
            Add Account
          </a>
          <a class="dropdown-item" href="#">
            Reset Password</a>
          <a class="dropdown-item" href="#">
            Help
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"></a>
          <%=link_to destroy_admin_session_path, method: :delete, class: "dropdown-item" do%>
          Logout
        <%end%>
      </div>
    </li>
  </ul>
</nav>
</header>
