<!DOCTYPE html>
<html>
  <head>
      <%if yield(:title).present?%>
      <title>
        <%= yield(:title)%>
      </title>
      <%else%>
        <title><%= "Home | loyosja.com"%></title>
      <%end%>

    <%if yield(:meta_description).present?%>
      <meta name="description" content="<%= yield(:meta_description)%>">
    <%else%>
      <meta name="description" content="<%= "loyosja.com"%>">
    <%end%>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images/title.png" type="image/x-icon" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= favicon_link_tag asset_path('title.png') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <%=custom_flash_message%>
    <script type="text/javascript">
      $('#star-rating').raty({
        path: '/assets',
        scoreName: 'review[rating]'
      });


      $('.star-rating').raty({
          path: '/assets/',
          readOnly: true,
          score: function() {
                return $(this).attr('data-score');
        }
      });
    </script>
      <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js'></script>
      <script>
         feather.replace()
      </script>
      <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
