<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <%= csrf_meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83525770-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-83525770-2');
    </script>
    <%if yield(:title).present?%>
      <title><%= yield(:title)%></title>
      <meta property="og:title" content="Loyosja.com">
      <%else%>
        <title><%= "Home | loyosja.com"%></title>
        <meta property="og:title" content="Loyosja.com">
      <%end%>
    <%if yield(:meta_description).present?%>
      <meta property="og:description" content="<%= yield(:meta_description)%>">
    <%else%>
      <meta property="og:description" content="<%= "loyosja.com"%>">
    <%end%>
    <%if yield(:image_og).present?%>
      <meta property="og:image:url" content="<%= yield(:image_og)%>">
      <meta property="og:image:width" content="600">
      <meta property="og:image:height" content="315">
    <%else%>
      <meta property="og:image:url" content="<%= yield(:image_og)%>">
      <meta property="og:image:width" content="600">
      <meta property="og:image:height" content="315">
    <%end%>
    <meta property="fb:app_id" content="999468520400850">
    <%if yield(:url_og).present?%>
      <meta property="og:url" content="<%= yield(:url_og)%>">
    <%end%>


    <meta property="og:site_name" content="Loyosja">
    <meta property="og:type" content="website">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <%= stylesheet_link_tag    'front_end_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.css'>
    <%= favicon_link_tag asset_path('title.png') %>
  </head>

  <body  id="body" class="wide-layout preloader-active">

    <%= yield %>
    <%= javascript_include_tag 'front_end_application', 'data-turbolinks-track': 'reload' %>

    <%=custom_flash_message%>

    <script type="text/javascript">

      $('#star-rating').raty({
      	path: '/images',
      	scoreName: 'review[rating]'
      });


      $('.star-rating').raty({
          path: '/images',
          readOnly: true,
          score: function() {
                return $(this).attr('data-score');
        }
      });
    </script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/authy-form-helpers/2.3/form.authy.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
  </body>
</html>
