<%meta_description "An online gift shop for awesome people. At Loyosja, we offer you only the awesome and unique gifts for your special occassions. Explore the collection of amazing products to surprise your loved one and make your special day even more special."%>
<%image_og "https://loyosja.com/images/loyosjaseosearchimage.png"%>
<div class="jumbo-page">
   <main class="">
      <div class="container-fluid">
         <div class="row ">
            <div class="col-lg-4  bg-white">
               <div class="row align-items-center m-h-100">
                  <div class="mx-auto col-md-8">
                     <div class="p-b-20 text-center">
                        <a href="/">
                           <p>
                              <img src="/images/loyosja.png" width="200" alt="">
                           </p>
                        </a>
                     </div>
                     <div class="needs-validation">
                      	<%= form_tag users_verify_path do %>
	                        <div class="form-row ">
                            <div class="form-group col-md-12">
                              <label for="">Enter your 6 digits verification code</label>
                            </div>
	                           <div class="form-group floating-label col-md-12">
																<%= label_tag :code, "Verification Code:" %>
																<%= text_field_tag :token, '', class: "form-control", placeholder: "6 Verify Code"  %>
	                           </div>
	                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Verify</button>
                        <%end%>
												<br>
												<div class="form-row">
													<div class="form-group floating-label col-md-12">
														<%= form_tag users_resend_path do %>
														<button type="submit" class="btn" style="margin-bottom: 20px;">Resend code</button>
														<% end %>
													</div>
												</div>
                     </div>
                     <p class="text-right p-t-10">
                        <%=link_to "Don't have an account", sign_up_path, class: "text-underline"%>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('/images/105.png');">
            </div>
         </div>
      </div>
   </main>
</div>
